@keyframes spinLoader {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.btn {
  align-items: center;
  background: transparent;
  border-radius: rem-calc(8px);
  border: 1px solid transparent;
  cursor: pointer;
  display: inline-flex;
  font-size: rem-calc(12px);
  justify-content: center;
  line-height: 1.2;
  padding: rem-calc(17px 22px);
  text-transform: uppercase;
  user-select: none;

  &:focus {
    outline: 0;
  }

  &[disabled] {
    cursor: not-allowed;
    opacity: 0.35;
  }

  &.is-loading {
    color: transparent;
    position: relative;
    pointer-events: none;

    &:after {
      animation: spinLoader 500ms infinite linear;
      border: 1px solid #fff;
      border-radius: 50%;
      border-right-color: transparent;
      border-top-color: transparent;
      content: "";
      display: block;
      height: 1em;
      position: absolute;
      left: calc(50% - (1em / 2));
      top: calc(50% - (1em / 2));
      width: 1em;
    }
  }

  &--outline-primary {
    background-color: transparent;
    border-color: rgba($brand-color, 0.2);
    color: $brand-color;
    transition: background-color 150ms, border-color 150ms, box-shadow 150ms;

    &:not([disabled]):hover {
      background-color: $brand-color;
      border-color: $brand-color;
      box-shadow: -0.872px 24.985px rem-calc(40px) 0px rgba($brand-color, 0.23);
      color: #fff;
    }

    &:focus {
      color: $brand-color;
    }

    &.is-loading:after {
      border-color: $brand-color transparent $brand-color $brand-color !important;
    }
  }

  &--outline-inverted {
    background-color: transparent;
    border-color: rgba(#fff, 0.2);
    color: #fff;
    transition: background-color 150ms, border-color 150ms;

    &:not([disabled]):hover {
      background-color: #fff;
      border-color: #fff;
      color: $brand-color;
    }

    &:focus {
      color: #fff;
    }

    &.is-loading:after {
      border-color: #fff transparent #fff #fff !important;
    }
  }

  &--primary {
    background-color: $brand-color;
    border-color: $brand-color;
    color: #fff;
    transition: box-shadow 150ms;

    &:not([disabled]):hover {
      box-shadow: -0.872px 24.985px rem-calc(40px) 0px rgba($brand-color, 0.23);
      color: #fff;
    }

    &[disabled]:hover {
      color: #fff;
    }

    &:focus {
      color: #fff;
    }

    &.is-loading:after {
      border-color: #fff transparent #fff #fff !important;
    }
  }

  &.has-icon {
    padding-left: rem-calc(16px);
  }

  svg {
    fill: currentColor;
    height: rem-calc(14px);
    margin-right: rem-calc(12px);
    width: rem-calc(10px);
  }
}
