.form {
  margin: 0 auto;
  max-width: 800px;

  &-row {
    display: flex;
    flex-wrap: wrap;
    margin: rem-calc(0 -20px);
  }

  &-col {
    padding: rem-calc(0 20px);
    width: 50%;

    @media (max-width: $sm) {
      width: 100%;
    }
  }

  &-field {
    margin: rem-calc(0 0 32px);

    &-group {
      background: #fff;
      border-radius: 6px;
      display: block;
      margin: 0;
    }
  }

  &-label {
    display: block;
    font-size: 14px;
    font-weight: 200;
    letter-spacing: -0.025em;
    margin: 0;
    opacity: 0.7;
    padding: rem-calc(14px 22px 0);
  }

  &-input,
  &-select,
  &-textarea {
    appearance: none;
    background: transparent;
    border-radius: 0;
    border: 0;
    font-size: rem-calc(18px);
    font-weight: 200;
    letter-spacing: -0.025em;
    line-height: 1.2;
    padding: rem-calc(6px 20px 18px);
    width: 100%;

    &:focus {
      outline: 0;
    }

    &::placeholder {
      font-size: 14px;
      opacity: 0.7;
    }
  }

  &-textarea {
    padding-bottom: rem-calc(18px);
    padding-top: rem-calc(18px);
  }

  &-help {
    color: $brand-danger;
    font-size: 14px;
    font-weight: 200;
    letter-spacing: -0.025em;
    margin: rem-calc(8px 0 0);
  }


  &-footer {
    text-align: center;
    padding-top: rem-calc(15px);
  }

  &-btn {
    max-width: rem-calc(240px);
    min-width: fit-content;
    width: 100%;
  }
}
