.table {
  border-collapse: collapse;
  width: 100%;

  @media (max-width: $sm) {
    display: block;
  }

  thead {
    @media (max-width: $sm) {
      display: none;
    }
  }

  th {
    border-bottom: 1px solid #fff;
    font-size: rem-calc(12px);
    font-weight: 200;
    line-height: 1.2;
    opacity: 0.5;
    padding: rem-calc(0 14px 38px);
    text-transform: uppercase;

    @media (min-width: $sm + 1px) {
      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }
    }
  }

  tbody {
    @media (max-width: $sm) {
      display: block;
    }
  }

  tbody tr {
    @media (max-width: $sm) {
      display: block;
      margin-bottom: rem-calc(50px);

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  tbody td {
    border-bottom: 1px solid rgba(#fff, 0.1);
    font-size: rem-calc(16px);
    color: rgba(#fff, 0.7);
    font-weight: 200;
    letter-spacing: -0.025em;
    line-height: 1.2;
    padding: rem-calc(33px 14px);
    vertical-align: middle;

    @media (min-width: $sm + 1px) {
      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }
    }

    @media (max-width: $sm) {
      align-items: center;
      display: flex;
      justify-content: space-between;
      padding-left: 0;
      padding-right: 0;
      text-align: right;

      &:before {
        content: attr(data-label);
        font-size: rem-calc(14px);
        line-height: 1.2;
        opacity: 0.5;
        text-align: left;
        text-transform: uppercase;
      }
    }
  }

  @media (min-width: $sm + 1px) {
    tbody tr:last-child td {
      border-bottom: 0;
      padding-bottom: 0;
    }
  }

  a {
    color: #fff;
    transition: color 150ms;

    &:hover {
      color: $brand-color;
    }
  }

  .text--lg {
    color: #fff;
    font-size: rem-calc(24px);
    font-weight: 200;
    margin: 0;
  }
}
