<template>
  <!-- eslint-disable -->
  <svg xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 24 10">
    <path d="M17,10l7-5L17,0V4H0V6H17Z" />
  </svg>
</template>

<script>
export default {
  name: 'ArrowRightIcon',
};
</script>
