<template>
  <!-- eslint-disable -->
  <svg xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 24 10">
    <path d="M7,0,0,5l7,5V6H24V4H7Z" />
  </svg>
</template>

<script>
export default {
  name: 'ArrowLeftIcon',
};
</script>
