<template>
  <!-- eslint-disable -->
  <svg xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 10.5 31">
    <polygon points="5.5 24 5.5 0 4.5 0 4.5 24 0 24 5.25 31 10.5 24 5.5 24" />
  </svg>
</template>

<script>
export default {
  name: 'ArrowBottomIcon',
};
</script>
