<template>
  <!-- eslint-disable -->
  <svg xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 6.02 4.01">
    <path d="M6,0,3,4,0,0Z" />
  </svg>
</template>

<script>
export default {
  name: 'CadetDownIcon',
};
</script>
