<template>
  <!-- eslint-disable -->
  <svg mlns="http://www.w3.org/2000/svg"
    viewBox="0 0 7.02 5.01">
    <polygon points="3.51 0 7.02 5.01 0 5.01 3.51 0" />
  </svg>
</template>

<script>
export default {
  name: 'CadetUpIcon',
};
</script>
