<template>
  <!-- eslint-disable -->
  <svg xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 55 55">
    <path d="M27.5,55A27.5,27.5,0,1,1,55,27.5,27.54,27.54,0,0,1,27.5,55Zm0-54A26.5,26.5,0,1,0,54,27.5,26.53,26.53,0,0,0,27.5,1ZM38.85,20.85l-.7-.7L25,33.29,18.6,26.9l-.7.7L25,34.71Z"
      fill="#006cff" />
  </svg>
</template>

<script>
export default {
  name: 'CheckCircleIcon',
};
</script>
