<template>
  <!-- eslint-disable -->
  <svg xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 28.99 28.99">
    <polygon points="28.99 0.71 28.28 0 14.5 13.79 0.71 0 0 0.71 13.79 14.5 0 28.28 0.71 28.99 14.5 15.2 28.28 28.99 28.99 28.28 15.2 14.5 28.99 0.71" />
  </svg>
</template>

<script>
export default {
  name: 'CloseIcon',
};
</script>
