<template>
  <!-- eslint-disable -->
  <svg xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 55 55">
    <path d="M27.5,55A27.5,27.5,0,1,1,55,27.5,27.54,27.54,0,0,1,27.5,55Zm0-54A26.5,26.5,0,1,0,54,27.5,26.53,26.53,0,0,0,27.5,1Zm0,40a18.46,18.46,0,0,1-4.62-.59,2.77,2.77,0,0,1-2-2.38l-.16-1.55a1.37,1.37,0,0,0-.52-.89C17.43,33.51,16,30.29,16,26.27c0-6.77,4.19-10.65,11.49-10.65S39,19.5,39,26.26c0,4-1.48,7.3-4.18,9.34a1.34,1.34,0,0,0-.52.88L34.15,38a2.79,2.79,0,0,1-2,2.39A18.44,18.44,0,0,1,27.49,41Zm0-24.38C23.57,16.62,17,17.88,17,26.27c0,3.7,1.3,6.65,3.76,8.53h0a2.3,2.3,0,0,1,.9,1.57l.15,1.54a1.76,1.76,0,0,0,1.3,1.52,17.44,17.44,0,0,0,8.73,0,1.76,1.76,0,0,0,1.3-1.52l.15-1.54a2.35,2.35,0,0,1,.91-1.57C36.69,32.93,38,30,38,26.27,38,17.88,31.4,16.62,27.49,16.62Zm.92,19.8h-1.9a1.33,1.33,0,0,1-1.2-1.88l1.15-2.72a1.11,1.11,0,0,1,1-.67h0a1.09,1.09,0,0,1,1,.67l1.16,2.72a1.38,1.38,0,0,1-.13,1.28A1.36,1.36,0,0,1,28.41,36.42Zm-.92-4.27a.11.11,0,0,0-.11.06l-1.16,2.73a.35.35,0,0,0,0,.33.35.35,0,0,0,.27.15h1.9a.35.35,0,0,0,.33-.49l-1.15-2.72a.1.1,0,0,0-.1-.06Zm-4.69-.48a2.74,2.74,0,0,1-3-2.67,2.93,2.93,0,0,1,2.77-3.44h0a2.92,2.92,0,0,1,3.53,2.64,3.05,3.05,0,0,1-.51,2.38,3.16,3.16,0,0,1-2.27,1.06Zm-.08-5.11a1.93,1.93,0,0,0-1.9,2.31c.18,1.4.9,1.93,2.43,1.78A2.23,2.23,0,0,0,24.83,30a2.11,2.11,0,0,0,.31-1.63A1.92,1.92,0,0,0,22.72,26.56Zm9.42,5.08-.54,0a2.8,2.8,0,0,1-2.79-3.42h0a2.93,2.93,0,0,1,3.54-2.64,3.2,3.2,0,0,1,2.26,1.19A3.07,3.07,0,0,1,35.12,29,2.74,2.74,0,0,1,32.14,31.64ZM29.81,28.3A2.2,2.2,0,0,0,30.14,30a2.23,2.23,0,0,0,1.56.67c1.52.15,2.25-.38,2.43-1.77a2.09,2.09,0,0,0-.33-1.52,2.18,2.18,0,0,0-1.58-.8A1.92,1.92,0,0,0,29.81,28.3Z"
      style="fill:#ff7171" />
  </svg>
</template>

<script>
export default {
  name: 'DeadCircleIcon',
};
</script>
