<template>
  <!-- eslint-disable -->
  <svg xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 24 4">
    <path d="M2,0A2,2,0,1,1,0,2,2,2,0,0,1,2,0ZM12,0a2,2,0,1,1-2,2A2,2,0,0,1,12,0ZM22,0a2,2,0,1,1-2,2A2,2,0,0,1,22,0Z" />
  </svg>
</template>

<script>
export default {
  name: 'EllipsisHIcon',
};
</script>
