<template>
  <!-- eslint-disable -->
  <svg xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 55 55">
    <path d="M27.5,55A27.5,27.5,0,1,1,55,27.5,27.54,27.54,0,0,1,27.5,55Zm0-54A26.5,26.5,0,1,0,54,27.5,26.53,26.53,0,0,0,27.5,1Zm13,37H15.79a2.47,2.47,0,0,1-2.08-3.79l12.38-19.4a2.47,2.47,0,0,1,4.15,0l12.37,19.4A2.47,2.47,0,0,1,40.54,38ZM28.16,14.68a1.46,1.46,0,0,0-1.23.67L14.56,34.75A1.46,1.46,0,0,0,15.79,37H40.54a1.43,1.43,0,0,0,1.28-.76,1.45,1.45,0,0,0,0-1.49L29.39,15.35A1.46,1.46,0,0,0,28.16,14.68Zm.76,8.43h-1v6h1Zm0,8h-1v1h1Z"
      style="fill:#ff971d" />
  </svg>
</template>

<script>
export default {
  name: 'ExclamationTriangleCircleIcon',
};
</script>
