<template>
  <!-- eslint-disable -->
  <svg xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 55 55">
    <path d="M27.5,55A27.5,27.5,0,1,1,55,27.5,27.54,27.54,0,0,1,27.5,55Zm0-54A26.5,26.5,0,1,0,54,27.5,26.53,26.53,0,0,0,27.5,1Zm4.31,38H23.19V31.81H16V23.19h7.19V16h8.62v7.19H39v8.62H31.81Zm-7.62-1h6.62V30.81H38V24.19H30.81V17H24.19v7.19H17v6.62h7.19Z"
      style="fill:#57a841" />
  </svg>
</template>

<script>
export default {
  name: 'FirstAidCircleIcon',
};
</script>
