<template>
  <!-- eslint-disable -->
  <svg xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 40 12">
    <path d="M0,0H40V1H0ZM0,11H40v1H0Z" />
  </svg>
</template>

<script>
export default {
  name: 'MenuIcon',
};
</script>
