<template>
  <!-- eslint-disable -->
  <svg xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 9.99 14">
    <path d="M0,0,10,7,0,14" />
  </svg>
</template>

<script>
export default {
  name: 'PlayIcon',
};
</script>
