<template>
  <!-- eslint-disable -->
  <svg xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 79 79">
    <path d="M39.5,0A39.5,39.5,0,1,0,79,39.5,39.49,39.49,0,0,0,39.5,0ZM34.21,49.76V29.86l14.93,10Z" />
  </svg>
</template>

<script>
export default {
  name: 'PlayRoundedIcon',
};
</script>
