<template>
  <!-- eslint-disable -->
  <svg xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 16.04 16.04">
    <path d="M16,15.34l-4.61-4.62a6.49,6.49,0,1,0-.71.71L15.34,16ZM2.61,10.39a5.5,5.5,0,1,1,7.78,0A5.5,5.5,0,0,1,2.61,10.39Z" />
  </svg>
</template>

<script>
export default {
  name: 'SearchIcon',
};
</script>
