<template>
  <!-- eslint-disable -->
  <svg xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 3 12">
    <title>Ellipse 1 copy 3</title>
    <path d="M1.5,0A1.5,1.5,0,1,1,0,1.5,1.5,1.5,0,0,1,1.5,0Zm0,9A1.5,1.5,0,1,1,0,10.5,1.5,1.5,0,0,1,1.5,9Z" />
  </svg>
</template>

<script>
export default {
  name: 'TwoDotsIcon',
};
</script>
