<template>
  <a :class="$style.item"
    :href="item.to"
    target="_blank">
    <ImageObject :image="{ src: item.image }"
      fill />
    <div :class="$style.overlay"></div>
    <header :class="$style.content">
      <PlayRoundedIcon :class="$style.icon" />
      <div :class="$style.header">
        <h4 :class="$style.title">
          {{ item.title }}
        </h4>
        <!--<p :class="$style.duration">
          {{ item.duration }}
        </p>-->
      </div>
    </header>
  </a>
</template>

<script>
import ImageObject from '@/components/misc/ImageObject';
import PlayRoundedIcon from '@/icons/PlayRoundedIcon';

export default {
  name: 'VideoItem',
  components: {
    PlayRoundedIcon,
    ImageObject,
  },

  props: {
    item: {
      type: Object,
      required: true,
    },
  },
};
</script>

<style lang="scss"
  module>
.item {
  background-color: #090f1a;
  color: #fff;
  display: block;
  min-height: 320px;
  padding-bottom: 70.588%;
  position: relative;

  &:hover {
    color: #fff;
  }
}

.overlay {
  background: rgba(#090f1a, 0.5);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.content {
  align-items: flex-end;
  bottom: 0;
  display: flex;
  left: 0;
  padding: grid-calc(0.48 0.44, 6.8);
  position: absolute;
  width: 100%;

  @media (max-width: $sm) {
    height: 100%;
  }
}

.icon {
  fill: #fff;
  height: rem-calc(80px);
  left: 0;
  margin-left: grid-calc(0.44, 6.8);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: rem-calc(80px);

  @media (max-width: $sm) {
    left: 50%;
    top: 40%;
    margin-left: 0;
    transform: translate(-50%, -50%);
  }
}

.header {
  align-items: center;
  display: flex;
  flex: 1 1 auto;
  justify-content: space-between;
  padding-left: rem-calc(80px + 32px);
  position: relative;

  @media (max-width: $sm) {
    padding-left: 0;
  }
}

.title {
  font-size: rem-calc(30px);
  font-weight: 200;
  letter-spacing: -0.025em;
  line-height: (42 / 30);
  //margin: rem-calc(0 10px 0 0);
  max-height: 3 * (42 / 30) * rem-calc(30px);
  overflow: hidden;
  // max-width: rem-calc(260px);
}

/*.duration {*/
/*  align-self: flex-end;*/
/*  font-size: 12px;*/
/*  line-height: 1;*/
/*  margin: rem-calc(0 0 10px) auto;*/
/*  padding-left: rem-calc(16px);*/
/*}*/
</style>
