<template>
  <div ref="swiper"
    :class="['swiper-container', $style.swiper]">
    <div class="swiper-wrapper">
      <div v-for="(item, index) in items"
        :key="index"
        :class="['swiper-slide', $style.slide]">
        <VideoItem :item="item" />
      </div>
    </div>
    <div ref="prev"
      :class="$style.prev">
      <ArrowLeftIcon />
    </div>
    <div ref="next"
      :class="$style.next">
      <ArrowRightIcon />
    </div>
  </div>
</template>

<script>
import Swiper from 'swiper';
import VideoItem from '@/components/home/videos/VideoItem';
import ArrowLeftIcon from '@/icons/ArrowLeftIcon';
import ArrowRightIcon from '@/icons/ArrowRightIcon';

export default {
  name: 'VideosSwiper',
  components: {
    VideoItem,
    ArrowRightIcon,
    ArrowLeftIcon,
  },

  props: {
    items: {
      type: Array,
      required: true,
    },
  },

  mounted() {
    this.swiper = new Swiper(this.$refs.swiper, {
      freeMode: true,
      initialSlide: 1,
      slidesPerView: 1,
      loop: true,
      navigation: {
        nextEl: this.$refs.next,
        prevEl: this.$refs.prev,
      },
    });
  },

  updated() {
    if (this.swiper) {
      this.swiper.update();
    }
  },
};
</script>

<style lang="scss"
  module>
.swiper {
  margin: grid-calc(0 -1);
  padding: 0 grid-calc(4.4);
  width: auto;

  @media (max-width: $lg) {
    padding: 0 grid-calc(3.4);
  }

  @media (max-width: $md) {
    padding: 0 grid-calc(2.4);
  }

  @media (max-width: $sm) {
    padding: 0 grid-calc(1.4);
  }
}

.slide {
  padding: rem-calc(0 20px);

  @media (max-width: $sm) {
    padding: rem-calc(0 10px);
  }
}

.prev,
.next {
  //transform: translateY(-50%);
  align-items: center;
  background: rgba($brand-color-darker, 0.5);
  border-radius: 50%;
  border: 2px solid #fff;
  color: #fff;
  cursor: pointer;
  display: flex;
  height: rem-calc(90px);
  justify-content: center;
  position: absolute;
  top: rem-calc(20px);
  user-select: none;
  width: rem-calc(90px);
  z-index: 1;

  @media (max-width: $md) {
    display: none;
  }

  &:focus {
    outline: 0;
  }

  svg {
    fill: currentColor;
    height: rem-calc(10px);
    width: rem-calc(24px);
  }
}

.prev {
  left: grid-calc(1, 16);
}

.next {
  right: grid-calc(1, 16);
}
</style>
