<template>
  <div :class="[$style.col, colSize, colHide]">
    <div :class="$style.inner">
      <span v-if="orderBy"
        :class="$style.cadets">
        <CadetUpIcon
          :class="[$style.cadet, {
            [$style.cadetActive]: internalSign === 'asc' && internalColumn === orderBy
          }]"
          @click.native="reorder('asc')" />
        <CadetDownIcon
          :class="[$style.cadet, {
            [$style.cadetActive]: internalSign === 'desc' && internalColumn === orderBy
          }]"
          @click.native="reorder('desc')" />
      </span>
      <span :class="$style.title"
        @click="reorder(internalSign === 'desc' ? 'asc' : 'desc')">{{ colName }}</span>
    </div>
  </div>
</template>

<script>
import CadetDownIcon from '@/icons/CadetDownIcon';
import CadetUpIcon from '@/icons/CadetUpIcon';

export default {
  components: {
    CadetDownIcon,
    CadetUpIcon,
  },
  props: {
    cell: {
      type: Object,
      required: true,
    },

    orderColumn: {
      type: String,
      default: '',
    },

    orderSign: {
      type: String,
      default: '',
    },
  },

  data() {
    return {
      internalColumn: '',
      internalSign: '',
    };
  },

  computed: {
    colName() {
      return this.cell.name;
    },

    colSize() {
      return this.cell.sizeClass;
    },

    colHide() {
      return this.cell.hideClass;
    },

    orderBy() {
      return this.cell.orderBy;
    },
  },

  watch: {
    orderColumn(column) {
      if (column !== this.internalColumn) {
        this.internalColumn = column;
      }
    },

    orderSign(sign) {
      if (sign !== this.internalSign) {
        this.internalSign = sign;
      }
    },
  },

  methods: {
    reorder(key) {
      this.$emit('reorder', {
        column: this.orderBy,
        sign: key,
      });
    },
  },
};
</script>

<style lang="scss"
  module>
.col {
  background-color: #fff;
  font-size: rem-calc(12px);
  font-weight: 200;
  hyphens: auto;
  line-height: 1.2;
  padding: rem-calc(38px 8px);
  text-transform: uppercase;
  width: 15%;

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;
  }

  @media (max-width: $lg) {
    width: 23%;
  }

  @media (max-width: $xs) {
    font-size: 10px;
  }
}

.inner {
  display: flex;
}

.cadets {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  margin-right: rem-calc(10px);
}

.cadet {
  cursor: pointer;
  fill: #dcdcdc;
  flex-shrink: 0;
  height: rem-calc(5px);
  margin: rem-calc(2px 0);
  user-select: none;
  width: rem-calc(7px);

  &--active {
    fill: $brand-color;
  }
}

.title {
  align-self: center;
  cursor: pointer;
  user-select: none;
}
</style>
