<template>
  <div :class="['table2', $style.el]">
    <div ref="sticky"
      :class="$style.sticky">
      <div :class="$style.listHeader">
        <TheWrapper v-if="cells.length"
          :inner-class="$style.row">
          <ListTableTh v-for="(cell, index) in cells"
            :key="index"
            :cell="cell"
            :order-column="orderColumn"
            :order-sign="orderSign"
            @reorder="reorder" />
        </TheWrapper>
      </div>
      <div :class="$style.stats">
        <TheWrapper>
          <ListStats :stats="stats"
            :cells="cells" />
        </TheWrapper>
      </div>
    </div>
    <div :class="$style.body">
      <TheWrapper>
        <div ref="tableContainer"
          :class="$style.content">
          <div v-for="(item, index) in internalSortItems"
            :key="index">
            <slot :item="item"
              :index="index"></slot>
          </div>
        </div>
      </TheWrapper>
    </div>
  </div>
</template>

<script>
import TheWrapper from '@/components/TheWrapper';
import ListTableTh from './ListTableTh';
import ListStats from './ListStats';

export default {
  components: {
    TheWrapper,
    ListTableTh,
    ListStats,
  },

  props: {
    items: {
      type: Array,
      default: () => ([]),
    },

    cells: {
      type: Array,
      required: true,
    },

    stats: {
      type: Object,
      default: () => ({}),
    },
  },

  data() {
    return {
      internalSortItems: this.items,
      orderColumn: '',
      orderSign: '',
    };
  },

  methods: {
    reorder(payload) {
      const { column, sign } = payload;

      this.orderColumn = column;
      this.orderSign = sign;

      if (column === 'country_region') {
        if (sign === 'asc') {
          this.internalSortItems.sort((a, b) => a[column] < b[column] ? -1 : 1);
        }

        if (sign === 'desc') {
          this.internalSortItems.sort((a, b) => a[column] > b[column] ? -1 : 1);
        }
      } else {
        if (sign === 'asc') {
          this.internalSortItems.sort((a, b) => a[column] - b[column]);
        }

        if (sign === 'desc') {
          this.internalSortItems.sort((a, b) => b[column] - a[column]);
        }
      }

      this.scrollTop();
    },

    scrollTop() {
      this.$refs.tableContainer.scrollTop = 0;
    },
  },
};
</script>

<style lang="scss"
  module>
.el {
  position: relative;
}

.row {
  display: flex;
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 1;
}

.listHeader {
  background-color: #fff;
  position: relative;

  &:before {
    background-color: rgba($brand-color-darker, 0.1);
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    top: -1px;
    width: 100%;
  }
}

.stats {
  background-color: #101727;
  color: #fff;
}

.body {
  background-color: #090f1a;
  color: #fff;
}

.content {
  max-height: rem-calc(95px * 6);
  overflow: auto;
  width: calc(100% + 24px);
  padding-right: 24px;
}
</style>
