<template>
  <div :class="$style.header">
    <TheWrapper :inner-class="$style.inner">
      <div :class="$style.col1">
        <h2 :class="$style.title">
          {{ title }}
        </h2>
      </div>
      <div :class="$style.col2">
        <div :class="$style.progress">
          <FirstAidCircleIcon :class="$style.progressIcon" />
          <div :class="$style.progressContent">
            <div :class="$style.progressHeader">
              <span :class="$style.progressLabel">
                Recovered
              </span>
              <span :class="$style.progressPercent">
                {{ recoveredPercents }} %
              </span>
            </div>
            <div :class="$style.progressBar">
              <div :class="$style.progressTrack"
                :style="{ 'width': `${recoveredPercents}%` }"></div>
            </div>
          </div>
        </div>
      </div>
      <div :class="$style.col3">
        <ListSearchFilter :class="$style.search"
          @search="$emit('search', $event)" />
      </div>
    </TheWrapper>
  </div>
</template>

<script>
import TheWrapper from '@/components/TheWrapper';
import FirstAidCircleIcon from '@/icons/FirstAidCircleIcon';
import ListSearchFilter from './ListSearchFilter';

export default {
  components: {
    TheWrapper,
    FirstAidCircleIcon,
    ListSearchFilter,
  },

  props: {
    title: {
      type: String,
      required: true,
    },

    recoveredPercents: {
      type: Number,
      default: 0,
    },
  },
};
</script>

<style lang="scss"
  module>
.header {
  padding: rem-calc(78px 0);
  overflow: hidden;

  @media (max-width: $lg) {
    padding: 0;
  }
}

.inner {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;

  @media (max-width: $lg) {
    flex-wrap: wrap;
  }
}

.col1 {
  position: relative;
  width: grid-calc(4);

  &:before {
    background-color: rgba($brand-color-darker, 0.1);
    bottom: 0;
    display: none;
    height: 1px;
    content: "";
    left: grid-calc(-1);
    position: absolute;
    width: calc(100% + #{grid-calc(1)} * 2);
  }

  @media (max-width: $lg) {
    padding: rem-calc(30px 0);
    width: 100%;

    &:before {
      display: block;
    }
  }
}

.title {
  @include font-shrink(80px, 4px);
  font-weight: 200;
  letter-spacing: -0.025em;
  line-height: 1;
  margin: 0;
}

.col2 {
  margin-bottom: rem-calc(10px);
  padding: grid-calc(0 1);
  position: relative;
  width: grid-calc(6);

  &:before {
    background-color: rgba($brand-color-darker, 0.1);
    bottom: 0;
    display: none;
    height: 1px;
    content: "";
    left: grid-calc(-1);
    position: absolute;
    width: calc(100% + #{grid-calc(1)} * 2);
  }

  @media (max-width: $lg) {
    margin-bottom: 0;
    padding: rem-calc(24px 0);
    width: 100%;

    &:before {
      display: block;
    }
  }
}

.progress {
  align-items: center;
  display: flex;
  margin: 0 auto;
  max-width: rem-calc(480px);
  width: 100%;

  @media (max-width: $lg) {
    max-width: none;
  }

  &__icon {
    height: rem-calc(55px);
    margin-right: rem-calc(26px);
    width: rem-calc(55px);
  }

  &__content {
    flex: 1 1 auto;
  }

  &__header {
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
    margin-bottom: rem-calc(20px);
  }

  &__label {
    font-size: rem-calc(12px);
    font-weight: 200;
    text-transform: uppercase;
    line-height: 1;
  }

  &__percent {
    font-size: rem-calc(24px);
    font-weight: 200;
    line-height: 1;
    margin-left: rem-calc(16px);
  }

  &__bar {
    background: #f2f4f7;
    border-radius: rem-calc(8px);
    height: rem-calc(16px);
  }

  &__track {
    background-color: $brand-success;
    border-radius: rem-calc(8px);
    height: 100%;
  }
}

.col3 {
  margin-bottom: rem-calc(10px);
  width: grid-calc(4);

  @media (max-width: $lg) {
    margin-bottom: 0;
    width: 100%;
  }
}

.search {
  max-width: rem-calc(300px);
  margin-left: 0;
  width: 100%;

  @media (max-width: $lg) {
    max-width: none;
  }
}
</style>
