<template>
  <div :class="$style.row">
    <div v-for="(cell, index) in cells"
      :key="index"
      :class="[$style.col, cell.sizeClass, cell.colorClass, cell.hideClass]">
      <template v-if="!index">
        Total
      </template>
      <template v-else>
        {{ stats[cell.orderBy] | numberFormat }}
      </template>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ListStats',

  props: {
    cells: {
      type: Array,
      required: true,
    },

    stats: {
      type: Object,
      required: true,
    },

    lg: {
      type: Boolean,
      default: false,
    },
  },
};
</script>

<style lang="scss"
  module>
.row {
  background-color: #101727;
  display: flex;
  position: relative;
}

.col {
  @include font-shrink(24px, 0.5px);
  display: flex;
  flex-direction: column;
  font-weight: 200;
  justify-content: center;
  letter-spacing: -0.025em;
  line-height: 1.2;
  padding: rem-calc(36px 8px);
  position: relative;
  width: 15%;

  @media (max-width: $lg) {
    width: 23%;
  }

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;
  }
}
</style>
