<template>
  <div :class="$style.field">
    <button :class="$style.btn"
      type="button">
      <SearchIcon />
    </button>
    <input v-model="searchValue"
      :class="$style.input"
      type="text"
      placeholder="Search">
  </div>
</template>

<script>
import SearchIcon from '@/icons/SearchIcon';

export default {
  components: { SearchIcon },

  data() {
    return {
      searchValue: '',
    };
  },

  watch: {
    searchValue(searchValue) {
      this.$emit('search', searchValue);
    },
  },
};
</script>

<style lang="scss"
  module>
.field {
  position: relative;
}

.btn {
  background: transparent;
  border: 0;
  height: 100%;
  left: 0;
  padding: 0;
  position: absolute;
  text-align: left;
  top: 0;
  width: rem-calc(32px);

  svg {
    fill: currentColor;
    height: rem-calc(17px);
    opacity: 0.2;
    width: rem-calc(17px);
  }
}

.input {
  appearance: none;
  border: 0;
  border-bottom: 1px solid rgba($brand-color-darker, 0.1);
  border-radius: 0;
  font-size: rem-calc(18px);
  font-weight: 200;
  letter-spacing: -0.025em;
  line-height: 1.2;
  padding: rem-calc(25px 0 25px 32px);
  width: 100%;

  &::placeholder {
    font-size: rem-calc(12px);
    text-transform: uppercase;
  }

  @media (max-width: $lg) {
    padding-top: rem-calc(36px);
    padding-bottom: rem-calc(36px);
    border-bottom: 0;
  }
}
</style>
