<template>
  <div :class="$style.col">
    <slot></slot>
  </div>
</template>

<style lang="scss"
  module>
.col {
  border-bottom: 1px solid rgba(#fff, 0.1);
  display: flex;
  flex-direction: column;
  font-size: rem-calc(16px);
  font-weight: 200;
  hyphens: auto;
  justify-content: center;
  letter-spacing: -0.025em;
  line-height: 1.2;
  padding: rem-calc(33px 8px);
  width: 15%;

  @media (max-width: $lg) {
    width: 23%;
  }

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;
  }
}
</style>
