<template>
  <ErrorLayout>
    <h1 class="title">
      Page not found
    </h1>
  </ErrorLayout>
</template>

<script>
import ErrorLayout from '@/components/layouts/ErrorLayout';

export default {
  components: {
    ErrorLayout,
  },
};
</script>
