$fonts: (
  'Inter': (
    200: (
      'normal': 'Inter-ExtraLightBETA',
      'italic': 'Inter-ExtraLightItalicBETA'
    ),
    300: (
      'normal': 'Inter-LightBETA',
      'italic': 'Inter-LightItalicBETA'
    ),
    400: (
      'normal': 'Inter-Regular',
      'italic': 'Inter-Italic'
    ),
  ),
);

@each $name, $weights in $fonts {
  @each $weight, $styles in $weights {
    @each $style, $file in $styles {
      @font-face {
        font-family: '#{$name}';
        src: url('../fonts/#{$file}.eot');
        src: url('../fonts/#{$file}.eot?#iefix') format('embedded-opentype'),
        url('../fonts/#{$file}.woff2') format('woff2'),
        url('../fonts/#{$file}.woff') format('woff'),
        url('../fonts/#{$file}.ttf') format('truetype');
        font-weight: #{$weight};
        font-style: #{$style};
        font-display: auto;
      }
    }
  }
}
