@mixin font-shrink($size, $coef) {
  font-size: rem-calc($size);

  @for $i from 2 through length($breakpoints) {
    @media(max-width: nth(map-values($breakpoints), $i)) {
      font-size: rem-calc($size - $coef * $i);
    }
  }
}
