a {
  transition: $link-transition;
}

input {
  &::placeholder {
    color: $placeholder-color;
    transition: $placeholder-transition;
  }

  &:focus {
    outline: 0;

    &::placeholder {
      color: $placeholder-focus-color;
      opacity: $placeholder-opacity;
      transition: $placeholder-transition;
    }
  }
}

button,
[type="button"],
[type="reset"],
[type="submit"],
[type="file"] {
  color: $button-color;
  cursor: pointer;
  padding: 0;
  transition: $button-transition;

  &:focus {
    color: $button-focus-color;
    outline: 0;
  }

  &:hover {
    color: $button-hover-color;
  }
}
