// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

// dev
$pixelPerfect: false;

// Color system

$brand-color: #006cff;
$brand-color-darker: #0d1527;
//$brand-success: #57a841;
$brand-success: #57c03a;
$brand-danger: #ff7171;
$brand-warning: #e4c82f;

$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;

$blue: #007bff;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #28a745;
$teal: #20c997;
$cyan: #17a2b8;

$primary: $blue;
$secondary: $gray-600;
$success: $green;
$info: $cyan;
$warning: #d6b500;
$danger: #fd1148;
$light: $gray-100;
$dark: $gray-800;

// Options
//
// Quickly modify global styling by enabling or disabling optional features.
$enable-pointer-cursor-for-buttons: true !default;

// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.

$spacer: 1rem !default;

// Body
//
// Settings for the `<body>` element.

$body-bg: #fff;
$body-color: #000;

$header-height: 113px;

// Links
//
// Style anchor elements.

$link-color: $body-color;
$link-decoration: none;
$link-hover-color: lighten($link-color, 30%);
$link-hover-decoration: initial;
$link-transition: color 100ms;

// Buttons
//
// Style buttons.
$button-color: $body-color;
$button-hover-color: lighten($button-color, 30%);
$button-focus-color: $button-hover-color;
$button-transition: color 100ms;

// Inputs placeholder
//
// Style inputs placeholder.
$placeholder-color: inherit;
$placeholder-focus-color: inherit;
$placeholder-opacity: 0.5;
$placeholder-transition: opacity 100ms;

// Fonts
//
// Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif: 'Inter', Arial, Helvetica, sans-serif;
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base: $font-family-sans-serif !default;

$font-size-base: 1rem !default; // Assumes the browser default, typically `16px`
$font-size-lg: $font-size-base * 1.25 !default;
$font-size-sm: $font-size-base * .875 !default;

$font-weight-lighter: lighter !default;
$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-bold: 700 !default;
$font-weight-bolder: bolder !default;

$font-weight-base: $font-weight-normal !default;
$line-height-base: 1.5 !default;

$h1-font-size: $font-size-base * 2.5 !default;
$h2-font-size: $font-size-base * 2 !default;
$h3-font-size: $font-size-base * 1.75 !default;
$h4-font-size: $font-size-base * 1.5 !default;
$h5-font-size: $font-size-base * 1.25 !default;
$h6-font-size: $font-size-base !default;

$headings-margin-bottom: $spacer / 2 !default;

$paragraph-margin-bottom: 1rem;

$dt-font-weight: 700;

// Forms

$label-margin-bottom: .5rem;

// Tables
//
// Customizes the `.table` component with basic values, each used across all table variations.

$table-cell-padding: .75rem;

$table-caption-color: $gray-600;

// mixins-piecedata/functions/rem-calc.scss
$global-font-size: $font-size-base;

// z-indexes used in mixins-piecedata/functions/z.scss
$z-indexes: (
  'barogress',
  'snackbar',
  'modal',
  'modal-backdrop',
  'header'
);

// grid
$grid-columns: 14;
$grid-column-width: 100px;
$wrapper-padding: $grid-column-width;
$wrapper-inner-width: $grid-columns * $grid-column-width;
$wrapper-width: $wrapper-inner-width + ($wrapper-padding * 2);

// breackpoints
$xxs: 374px;
$xs: 480px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1600px;

$breakpoints: (
  xxl: 1600px,
  xl: 1200px,
  lg: 992px,
  md: 768px,
  sm: 576px,
  xs: 420px,
  xxs: 374px,
);

// Project settings goes bellow. You are allowed to update values only. Do not move/remove anything.

