@import 'vars';
@import 'reboot';
@import 'normalize';
@import "fonts";

@media (max-width: $lg) {
  html {
    font-size: 15px;
  }
}

@media (max-width: $md) {
  html {
    font-size: 14px;
  }
}

@media (max-width: $sm) {
  html {
    font-size: 13px;
  }
}

@media (max-width: $xs) {
  html {
    font-size: 12px;
  }
}

@if ($pixelPerfect) {
  body {
    width: $wrapper-width;
  }
}

// components
@import "components/form";
@import "components/btn";
@import "components/table";
