<template>
  <header :class="[$style.header, { [$style.headerInverted]: $route.meta.headerInverted }]">
    <TheWrapper :inner-class="$style.inner">
      <h1 :class="$style.logo">
        <router-link :to="{ name: 'home' }"
          exact>
          <span :class="$style.logoImg">
            <ImageObject :image="{
              src:require('@/images/logo.png'),
              width: 649,
              height: 733
            }" />
          </span>
          CoronaVirus
          <br>
          Community
        </router-link>
      </h1>
      <router-link :to="{ name: 'video' }"
        :class="['btn btn--primary has-icon', $style.btn]">
        <PlayIcon />
        Watch video
      </router-link>
      <AppNav :class="$style.nav" />
      <div :class="$style.right">
        <router-link :to="{ name: 'data-sources' }"
          :class="$style.link"
          exact>
          Data Sources
        </router-link>
        <a class="btn btn--primary"
          href="https://ko-fi.com/coronaviruscommunity"
          target="_blank">
          Support us
        </a>
        <button :class="$style.toggle"
          type="button"
          @click="$emit('update:panel-is-visible', !panelIsVisible)">
          <MenuIcon />
        </button>
      </div>
    </TheWrapper>
  </header>
</template>

<script>
import AppNav from '@/components/app/AppNav';
import ImageObject from '@/components/misc/ImageObject';
import TheWrapper from '@/components/TheWrapper';
import MenuIcon from '@/icons/MenuIcon';
import PlayIcon from '@/icons/PlayIcon';

export default {
  components: {
    AppNav,
    PlayIcon,
    ImageObject,
    MenuIcon,
    TheWrapper,
  },

  props: {
    panelIsVisible: {
      type: Boolean,
      default: false,
    },
  },
  // computed: {
  //   appName() {
  //     return this.$store.getters.appName;
  //   },
  // },
};
</script>

<style lang="scss"
  module>
.header {
  border-bottom: 1px solid rgba(#b4b4b4, 0.14);
  left: 0;
  padding: rem-calc(31px 0);
  position: absolute;
  top: 0;
  width: 100%;
  z-index: z('header');

  &--inverted {
    border-bottom: 1px solid rgba(#fff, 0.14);
    color: #fff;
  }
}

.inner {
  align-items: center;
  display: flex;
}

.logo {
  font-size: rem-calc(12px);
  font-weight: 400;
  line-height: 1.2;
  margin: grid-calc(0 0.65 0 0);
  text-transform: uppercase;

  a {
    align-items: center;
    color: inherit;
    display: flex;

    &:hover {
      color: inherit;
    }
  }

  &__img {
    display: block;
    flex: 0 0 auto;
    margin-right: rem-calc(22px);
    width: rem-calc(32px);
  }
}

.nav {
  margin-right: rem-calc(42px);

  @media (max-width: 1240px) {
    display: none;
  }

  ul {
    list-style: none;
    margin: rem-calc(0 -20px);
    padding: 0;
    display: flex;
  }

  a {
    color: inherit;
    display: block;
    font-size: rem-calc(12px);
    font-weight: 200;
    line-height: 1.2;
    margin: rem-calc(0 20px);
    text-transform: uppercase;
    transition: color 150ms;

    .header--inverted & {
      color: #fff;
    }

    &:hover,
    &:global(.is-active) {
      color: $brand-color;
    }
  }
}

.btn {
  margin-right: rem-calc(42px);

  @media (max-width: $md) {
    display: none;
  }
}

.right {
  align-items: center;
  display: flex;
  margin-left: auto;
}

.toggle {
  background: transparent;
  border: 0;
  color: currentColor;
  display: none;
  margin-left: rem-calc(32px);
  padding: 0;

  @media (max-width: 1240px) {
    display: block;
  }

  &:hover,
  &:focus {
    color: currentColor;
  }

  svg {
    fill: currentColor;
    height: rem-calc(40px);
    width: rem-calc(40px);
  }
}

.link {
  color: inherit;
  font-size: rem-calc(12px);
  font-weight: 200;
  line-height: 1.2;
  padding: rem-calc(17px 34px 17px 0);
  text-transform: uppercase;
  transition: color 150ms;

  @media (max-width: 1240px) {
    display: none;
  }

  &:hover,
  &:global(.is-active) {
    color: $brand-color;
  }
}
</style>
