<template>
  <nav>
    <ul>
      <li v-for="(item, index) in items"
        :key="index">
        <router-link v-jump
          :to="item.to">
          {{ item.title }}
        </router-link>
      </li>
      <slot></slot>
    </ul>
  </nav>
</template>

<script>
export default {
  name: 'AppNav',

  data() {
    return {
      items: [
        {
          title: 'About',
          to: { name: 'about' },
        },
        {
          title: 'News',
          to: {
            name: 'home',
            hash: '#news',
          },
        },
        {
          title: 'Community',
          to: {
            name: 'home',
            hash: '#community',
          },
        },
        {
          title: 'Videos',
          to: {
            name: 'home',
            hash: '#videos',
          },
        },
        {
          title: 'Connect',
          to: {
            name: 'home',
            hash: '#connect',
          },
        },
      ],
    };
  },
};
</script>

<style lang="scss"
  module>
</style>
