<template>
  <transition :enter-class="$style.enter"
    :enter-active-class="$style.enterActive"
    :leave-to-class="$style.leaveTo"
    :leave-active-class="$style.leaveActive">
    <aside v-show="visible"
      :class="$style.panel">
      <button :class="$style.close"
        type="button"
        @click="close">
        <CloseIcon />
      </button>
      <div :class="$style.inner"
        @click="handleClicks">
        <AppNav :class="$style.nav">
          <li>
            <router-link :to="{ name: 'data-sources' }">
              Data Sources
            </router-link>
          </li>
        </AppNav>
      </div>
      <div :class="$style.footer"
        @click="handleClicks">
        <div :class="$style.footerInner">
          <router-link :to="{ name: 'video' }"
            :class="['btn btn--primary has-icon', $style.btn]">
            <PlayIcon />
            Watch video
          </router-link>
        </div>
      </div>
    </aside>
  </transition>
</template>

<script>
import AppNav from '@/components/app/AppNav';
import CloseIcon from '@/icons/CloseIcon';
import PlayIcon from '@/icons/PlayIcon';

export default {
  components: {
    AppNav,
    PlayIcon,
    CloseIcon,
  },
  props: {
    visible: {
      type: Boolean,
      default: false,
    },
  },

  methods: {
    close() {
      this.$emit('update:visible', !this.visible);
    },

    openModal() {
      this.close();
      this.$store.dispatch('openModal', 'WatchVideoModal');
    },

    handleClicks(event) {
      if (event.target.tagName.toLowerCase() === 'a') {
        this.close();
      }
    },
  },
};
</script>

<style lang="scss"
  module>

.enter-active,
.leave-active {
  transition: transform 200ms ease-out;
}

.enter,
.leave-to {
  transform: translateX(100%);
}


.panel {
  background-color: #fff;
  color: $body-color;
  height: 100%;
  display: flex;
  flex-direction: column;
  max-width: 600px;
  position: fixed;
  right: 0;
  top: 0;
  width: 90%;
  z-index: z('modal');
}

.inner {
  flex: 1 1 auto;
  overflow: auto;
}

.nav {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
  padding: grid-calc(0 1, 6);

  ul {
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: rem-calc(60px 0);
    width: 100%;
  }

  li {
    margin: rem-calc(30px 0);
  }

  a {
    display: block;
    font-size: rem-calc(30px);
    font-weight: 200;
    letter-spacing: -0.025em;
    line-height: (42 / 30);
    padding: rem-calc(14px 0);
    transition: color 150ms;

    &:hover {
      color: $brand-color;
    }
  }
}

.footer {
  background: rgba(#fff, 0.2);
  border-top: 1px solid rgba($body-color, 0.1);
  flex: 0 0 auto;
  display: none;
  text-align: center;

  @media (max-width: $md) {
    display: block;
  }

  &__inner {
    padding: rem-calc(12px) grid-calc(1, 6);
  }
}

.btn {
  max-width: rem-calc(240px);
  min-width: fit-content;
  width: 100%;
}

.close {
  align-items: center;
  background: transparent;
  border: 0;
  color: $brand-color;
  display: flex;
  height: rem-calc(40px);
  right: 100px;
  justify-content: center;
  padding: 0;
  position: absolute;
  top: rem-calc(38px);
  width: rem-calc(40px);

  @media (max-width: $xxl) {
    right: 6.25vw;
  }

  &:hover,
  &:focus {
    color: $brand-color;
  }

  svg {
    fill: currentColor;
    height: rem-calc(30px);
    width: rem-calc(30px);
  }
}
</style>
