<template>
  <div :class="$style.row">
    <div v-for="(item, index) in items"
      ref="items"
      :key="index"
      :class="$style.col">
      <slot :item="item"
        :index="index"></slot>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    items: {
      type: Array,
      required: true,
    },
  },
};
</script>

<style lang="scss"
  module>
.row {
  display: flex;
  flex-wrap: wrap;
  margin: grid-calc(0 -0.35 -0.7);
}

.col {
  padding: grid-calc(0 0.35 0.7, 14.7);
  width: 33.3333%;

  @media(max-width: $xl) {
    width: 50%;
  }

  @media(max-width: $md) {
    width: 100%;
  }
}
</style>
