<template>
  <a :href="item.to"
    :class="$style.item"
    target="_blank">
    <ImageObject :image="{ src: item.image }"
      fill />
    <div :class="$style.overlay"></div>
    <div :class="$style.content">
      <h4 :class="$style.title">
        {{ item.title }}
      </h4>
    </div>
  </a>
</template>

<script>
import ImageObject from '@/components/misc/ImageObject';

export default {
  name: 'CardItem',
  components: { ImageObject },
  props: {
    item: {
      type: Object,
      required: true,
    },
  },
};
</script>

<style lang="scss"
  module>
.item {
  background-color: $brand-color-darker;
  color: #fff !important;
  display: block;
  min-height: 300px;
  padding-bottom: 71.42857%;
  position: relative;

  &:hover {
    color: #fff !important;
  }
}

.overlay {
  background-color: rgba($brand-color-darker, 0.4);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.content {
  bottom: 0;
  left: 0;
  padding: rem-calc(36px 38px);
  position: absolute;
  width: 100%;
}

.title {
  font-size: rem-calc(30px);
  font-weight: 200;
  letter-spacing: -0.025em;
  line-height: (42 / 30);
  margin: 0;
}
</style>
