<template>
  <div>
    <AppHeader v-if="!$route.meta.headerHidden"
      :panel-is-visible.sync="panelIsVisible" />
    <router-view />
    <Backdrop :visible.sync="panelIsVisible" />
    <AppPanel :visible.sync="panelIsVisible" />
  </div>
</template>

<script>
import AppHeader from '@/components/app/AppHeader';
import Backdrop from '@/components/misc/Backdrop';
import AppPanel from '@/components/app/AppPanel';

export default {
  components: {
    AppHeader,
    Backdrop,
    AppPanel,
  },

  data() {
    return {
      panelIsVisible: false,
    };
  },
};
</script>
