<template>
  <div class="container is-fluid is-marginless">
    <div class="columns is-centered is-vcentered"
      style="min-height:100vh;padding: 40px;">
      <div class="column"
        style="max-width:100%;">
        <slot></slot>
      </div>
    </div>
  </div>
</template>
