<template>
  <transition :enter-class="$style.backdropEnter"
    :enter-active-class="$style.backdropEnterActive"
    :leave-to-class="$style.backdropLeaveTo"
    :leave-active-class="$style.backdropLeaveActive"
    @before-enter="beforeEnter"
    @after-leave="afterLeave">
    <div v-show="visible"
      :class="$style.backdrop"
      @click="close"></div>
  </transition>
</template>

<script>
export default {
  props: {
    visible: {
      type: Boolean,
      default: false,
    },
  },

  beforeDestroy() {
    document.removeEventListener('keyup', this.onKeyUpEsc, true);
  },

  methods: {
    close() {
      this.$emit('update:visible', !this.visible);
    },

    onKeyUpEsc(event) {
      if (event.keyCode === 27) {
        this.close();
      }
    },

    beforeEnter() {
      const { documentElement, body } = document;

      documentElement.style.overflowY = 'hidden';
      documentElement.style.height = '100%';
      body.style.overflowY = 'hidden';
      body.style.height = '100%';

      document.addEventListener('keyup', this.onKeyUpEsc, false);
    },

    afterLeave() {
      const { documentElement, body } = document;

      documentElement.style.overflowY = null;
      documentElement.style.height = null;
      body.style.overflowY = null;
      body.style.height = null;

      document.removeEventListener('keyup', this.onKeyUpEsc, false);
    },
  },
};
</script>

<style lang="scss"
  module>
.backdrop {
  background-color: rgba(#0d1527, 0.6);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: z('modal-backdrop');

  &--enter-active,
  &--leave-active {
    transition: opacity 200ms ease-out;
  }

  &--enter,
  &--leave-to {
    opacity: 0;
  }
}
</style>
