<template>
  <div :style="style"
    :class="['object', { 'object--fill': fill }]">
    <img ref="image"
      :data-src="image.src | asset"
      :class="[
        { 'lazyload': lazyload },
        'object__fit',
        contain ? 'object__fit--contain' : 'object__fit--cover'
      ]"
      alt="">
  </div>
</template>

<script>
import 'lazysizes';
import 'lazysizes/plugins/object-fit/ls.object-fit';

export default {
  filters: {
    asset(value) {
      return value.indexOf('public::') === 0
        ? value.replace('public::', process.env.BASE_URL)
        : value;
    },
  },

  props: {
    image: {
      type: Object,
      required: true,
    },

    fill: {
      type: Boolean,
      default: false,
    },

    contain: {
      type: Boolean,
      default: false,
    },

    lazyload: {
      type: Boolean,
      default: true,
    },
  },

  computed: {
    style() {
      const style = {};

      if (!this.fill) {
        style.paddingBottom = `${this.image.height / this.image.width * 100}%`;
      }

      if (this.image.color) {
        style.backgroundColor = `${this.image.color}`;
      }

      return style;
    },
  },

  watch: {
    'image.src'() {
      this.$refs.image.classList.remove('lazyloaded');
      this.$refs.image.classList.add('lazyload');
    },
  },
};
</script>

<style lang="scss">
.object {
  display: block;
  position: relative;

  &--fill {
    overflow: hidden;
  }

  &--fill,
  &__fit {
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  &__fit {
    &--cover {
      object-fit: cover;
      font-family: "object-fit: cover";
    }

    &--contain {
      object-fit: contain;
      font-family: "object-fit: contain";
    }
  }
}

.lazyload,
.lazyloading {
  opacity: 0;
}

.lazyloaded {
  opacity: 1;
  transition: opacity 300ms;
}
</style>
