<template>
  <div>
    <div :class="$style.page">
      <TheWrapper :class="$style.content">
        <h2 :class="$style.title">
          We are regular people... in the
          same exact boat as you are...
          trying to Make sense of it ALL!
        </h2>
        <p :class="$style.text">
          We decided to create something to try to help
          the Community during these crazy times.
        </p>
        <router-link :to="{ name: 'home', hash: '#connect' }"
          :class="['btn btn--primary', $style.btn]">
          Connect with us
        </router-link>
      </TheWrapper>
    </div>
    <AboutContent />
  </div>
</template>

<script>
import TheWrapper from '@/components/TheWrapper';
import AboutContent from './AboutContent';

export default {
  name: 'AboutIndex',
  components: {
    AboutContent,
    TheWrapper,
  },
};
</script>

<style lang="scss"
  module>
.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  padding-top: rem-calc($header-height);
}

.content {
  padding: rem-calc(104px 0 106px);
  text-align: center;
  width: 100%;
}

.title {
  @include font-shrink(64px, 3px);
  font-weight: 200;
  letter-spacing: -0.025em;
  line-height: (88 / 64);
  margin: 0 auto rem-calc(50px);
  max-width: rem-calc(860px);
}

.text {
  font-size: rem-calc(24px);
  font-weight: 200;
  letter-spacing: -0.025em;
  line-height: (40 / 24);
  margin: 0 auto rem-calc(62px);
  max-width: rem-calc(500px);
}

.btn {
  max-width: rem-calc(182px);
  min-width: fit-content;
  width: 100%;
}
</style>
