<template>
  <div :class="$style.content">
    <TheWrapper>
      <h2 :class="$style.text1">
        Due to the lack of centralized
        comprehensive information
        resources we decided to
        create something to help
      </h2>
      <div :class="$style.cols">
        <div v-for="(item, index) in items"
          :key="index"
          :class="$style.col">
          <div :class="$style.item">
            <ImageObject :image="{ src: item.image }"
              fill />
            <div :class="$style.itemOverlay"></div>
            <h4 :class="$style.itemTitle">
              {{ item.title }}
            </h4>
          </div>
        </div>
      </div>
      <div :class="$style.text2">
        The community at large during
        uncertain times. This is a resource
        that will continue to grow daily with
        the aim of positively impacting all
        of who support and participate.
      </div>
    </TheWrapper>
  </div>
</template>

<script>
import ImageObject from '../misc/ImageObject';
import TheWrapper from '../TheWrapper';

export default {
  name: 'AboutContent',
  components: {
    TheWrapper,
    ImageObject,
  },
  data() {
    return {
      items: [
        {
          image: require('@/images/about-1.jpg'),
          title: 'Educate',
        },
        {
          image: require('@/images/about-2.jpg'),
          title: 'Inform',
        },
        {
          image: require('@/images/about-3.jpg'),
          title: 'Inspire',
        },
        {
          image: require('@/images/about-4.jpg'),
          title: 'Empower',
        },
      ],
    };
  },
};
</script>

<style lang="scss"
  module>
.content {
  background-color: #090f1a;
  color: #fff;
  padding: rem-calc(180px 0);
}

.text1 {
  @include font-shrink(48px, 2px);
  font-weight: 200;
  hyphens: auto;
  letter-spacing: -0.025em;
  line-height: (70 / 48);
  margin: 0 0 0 auto;
  padding-left: grid-calc(0.5);
  width: 50%;

  @media (max-width: $lg) {
    margin: rem-calc(0 0 60px);
    padding-left: 0;
    width: 100%;
  }
}

.text2 {
  @include font-shrink(32px, 1px);
  font-weight: 200;
  letter-spacing: -0.025em;
  line-height: (56 / 32);
  margin-top: rem-calc(-272px);
  padding-right: grid-calc(0.5);
  width: 50%;

  @media (max-width: $lg) {
    margin: rem-calc(60px 0 0);
    padding-right: 0;
    width: 100%;
  }
}

.cols {
  margin: grid-calc(0 -0.5 -1.12);
  display: flex;
  flex-wrap: wrap;
}

.col {
  padding: grid-calc(0 0.5 1.12, 15);
  width: 50%;

  &:first-child {
    margin-top: rem-calc(-222px);
  }

  &:nth-child(2) {
    margin-top: rem-calc(150px);
  }

  &:nth-child(2n+3) {
    margin-top: rem-calc(-372px);
  }

  @media (max-width: $lg) {
    margin-top: 0 !important;
  }

  @media (max-width: $xxs) {
    width: 100%;
  }
}

.item {
  background-color: #000;
  color: #fff;
  padding-bottom: 92.30769%;
  position: relative;

  &__overlay {
    background: rgba(#090f1a, 0.4);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  &__title {
    bottom: 0;
    font-size: rem-calc(80px);
    font-weight: 200;
    left: 0;
    letter-spacing: -0.02em;
    line-height: 1;
    margin: 0;
    padding: grid-calc(0.68 0.52, 6.5);
    position: absolute;
    width: 100%;

    @media (max-width: $xxl) {
      font-size: 5vw;
    }

    @media (max-width: $xxs) {
      font-size: rem-calc(34px);
    }
  }
}
</style>
