<template>
  <section :class="$style.section">
    <div ref="swiper"
      :class="['swiper-container', $style.swiper]">
      <div class="swiper-wrapper">
        <div v-for="(item, index) in items"
          :key="index"
          class="swiper-slide">
          <ImageObject :image="{ src: item.image }"
            fill />
          <div :class="$style.content">
            <TheWrapper>
              <div :class="$style.contentInner">
                <h2 :class="$style.title">
                  {{ item.title }}
                </h2>
                <p :class="$style.text">
                  {{ item.text }}
                </p>
                <router-link :to="{ name: 'video' }"
                  :class="['btn btn--outline-inverted', $style.btn]">
                  Watch video
                </router-link>
              </div>
            </TheWrapper>
          </div>
        </div>
        <div :class="$style.background">
          <div :class="$style.backgroundLeft"></div>
          <TheWrapper>
            <div :class="$style.backgroundInner"></div>
          </TheWrapper>
          <div :class="$style.backgroundRight"></div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import Swiper from 'swiper';
import ImageObject from '../misc/ImageObject';
import TheWrapper from '../TheWrapper';

export default {
  name: 'AboutSection',
  components: {
    TheWrapper,
    ImageObject,
  },
  data() {
    return {
      items: [
        {
          image: require('@/images/intro-about-1.jpg'),
          title: 'We are a Solutions based Resource',
          text: `As we experience an unprecedented shut down, we have
                 accepted the gravity of the situation and are planning for a
                  “Post Corona” world NOW. Scroll to Discover!`,
        },
      ],
    };
  },
  mounted() {
    this.swiper = new Swiper(this.$refs.swiper, {
      slidesPerView: 1,
    });
  },

  updated() {
    if (this.swiper) {
      this.swiper.update();
    }
  },
};
</script>

<style lang="scss"
  module>
.section {
  background-color: #05080e;
  color: #fff;
}

.background {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  display: flex;
  width: 100%;

  :global(.wrapper) {
    display: flex;
    flex: 0 0 auto;
  }

  :global(.wrapper__inner) {
    flex-shrink: 1;
    flex-grow: 1;
    position: relative;
  }

  &__left {
    background: rgba(#05080e, 0.7);
  }

  &__left,
  &__right {
    flex: 1 1 auto;
  }

  &__inner {
    background: rgba(#05080e, 0.7);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: grid-calc(9);

    @media (max-width: $lg) {
      width: 100%;
    }
  }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 800px;
  padding-top: rem-calc($header-height);
  position: relative;
  z-index: 1;

  :global(.wrapper) {
    width: 100%;
  }

  @media (max-height: 800px) {
    min-height: 100vh;
  }

  &__inner {
    padding: rem-calc(100px) grid-calc(1) rem-calc(100px) 0;
    width: 62.5%;

    @media (max-width: $lg) {
      padding-right: 0;
      width: 100%;
    }
  }
}

.title {
  @include font-shrink(64px, 2px);
  font-weight: 200;
  letter-spacing: -0.025em;
  line-height: (80 / 64);
  margin: rem-calc(0 0 28px);
}

.text {
  font-size: rem-calc(24px);
  font-weight: 200;
  letter-spacing: -0.025em;
  line-height: (38 / 24);
  margin: rem-calc(0 0 38px);
  max-width: rem-calc(450px);
  opacity: 0.8;
}

.btn {
  max-width: rem-calc(142px);
  min-width: fit-content;
  width: 100%;
}
</style>
