<template>
  <transition :enter-class="$style.enter"
    :enter-active-class="$style.enterActive"
    :leave-to-class="$style.leaveTo"
    :leave-active-class="$style.leaveActive"
    appear>
    <div :class="$style.modal"
      @click.self="$emit('close')">
      <div :class="$style.dialog">
        <button :class="$style.btn"
          type="button"
          @click="$emit('close')">
          <CloseIcon />
        </button>
        <div :class="$style.message">
          Thank you. We will contact you ASAP!
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
import CloseIcon from '@/icons/CloseIcon';

export default {
  name: 'AlertModal',
  components: { CloseIcon },
  data() {
    return {
      success: false,
    };
  },

  created() {
    document.documentElement.style.overflowY = 'hidden';
    document.documentElement.style.height = '100%';
  },

  beforeDestroy() {
    document.documentElement.style.overflowY = null;
    document.documentElement.style.height = null;
  },
};
</script>

<style lang="scss"
  module>
.enter-active,
.leave-active {
  transition: opacity 200ms ease-out, transform 200ms ease-out;
}

.enter,
.leave-to {
  opacity: 0;
  transform: scale(1.1);
}

.modal {
  align-items: center;
  background-color: rgba(#000, 0.2);
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  padding: rem-calc(20px);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: z('modal');
}

.dialog {
  background-color: #fff;
  overflow: hidden;
  max-height: 100%;
  max-width: 400px;
  padding: rem-calc(60px);
  position: relative;
  width: 100%;
}

.btn {
  background: transparent;
  border: 0;
  padding: 0;
  position: absolute;
  right: rem-calc(20px);
  top: rem-calc(20px);

  svg {
    fill: #ccc;
    height: rem-calc(18px);
    width: rem-calc(18px);
  }
}

.message {
  font-size: rem-calc(18px);
  text-align: center;
}
</style>
