<template>
  <section :class="$style.section">
    <TheWrapper>
      <header :class="$style.header">
        <h2 :class="$style.title">
          Community
        </h2>
        <router-link :to="{ name: 'community' }"
          class="btn btn--outline-primary">
          View all
        </router-link>
      </header>
      <CardsList :items="items">
        <CardItem slot-scope="{ item }"
          :item="item" />
      </CardsList>
    </TheWrapper>
  </section>
</template>

<script>
import CardItem from '@/components/cards/CardItem';
import CardsList from '@/components/cards/CardsList';
import TheWrapper from '@/components/TheWrapper';

export default {
  name: 'CommunitySection',

  components: {
    CardItem,
    CardsList,
    TheWrapper,
  },

  data() {
    return {
      items: [
        {
          image: require('@/images/infocenter-1.jpg'),
          title: 'Each States response (Lockdown, Paid Sick Leave, etc...)',
          to: 'https://www.politico.com/news/2020/03/24/coronavirus-state-response-maps-146144',
        },
        {
          image: require('@/images/infocenter-4.jpg'),
          title: 'Corona Virus at a Glance (101)',
          to: 'https://www.hopkinsmedicine.org/health/conditions-and-diseases/coronavirus/coronavirus-facts-infographic',
        },
        {
          image: require('@/images/infocenter-7.jpg'),
          title: 'How to Stay Safe and Sane During the Coronavirus isolation',
          to: 'https://thenextweb.com/syndication/2020/03/22/how-to-stay-safe-and-sane-during-coronavirus-isolation-according-to-science/',
        },
        {
          image: require('@/images/infocenter-2.jpg'),
          title: 'Free things to do during lockdown',
          to: 'https://www.npr.org/2020/03/20/818670715/getting-bored-heres-a-list-of-free-things-that-werent-free-before-coronavirus',
        },
        {
          image: require('@/images/community/Shelter_in_place.jpg'),
          title: '“Shelter in Place” and “Stay at Home” orders explained',
          to: 'https://www.google.com/url?q=https://www.thecut.com/2020/03/what-does-shelter-in-place-mean.html&ust=1585304460000000&usg=AFQjCNFvJ28hO5_4slxQWt-fPd9YkCs0Mw&hl=en&source=gmail',
        },
        {
          image: require('@/images/infocenter-8.jpg'),
          title: 'Coronavirus fake news tracker!!!',
          to: 'https://www.buzzfeednews.com/article/janelytvynenko/coronavirus-fake-news-disinformation-rumors-hoaxes',
        },
        {
          image: require('@/images/infocenter-3.jpg'),
          title: 'Genius Doctor transforms one ventilator into nine (9)',
          to: 'https://themindunleashed.com/2020/03/genius-doctor-turns-one-ventilator-into-nine-using-diy-tips-from-youtube-video.html',
        },
        {
          image: require('@/images/infocenter-6.jpg'),
          title: 'The Future After the Corona Virus',
          to: 'https://www.deutschland.de/en/news/the-future-after-coronavirus',
        },
        {
          image: require('@/images/community/grocery_store.jpg'),
          title: 'Local Heroes amid the Pandemic - The Little Grocery Store',
          to: 'https://www.google.com/url?q=https://www.the-review.com/news/20200325/local-heroes-amid-coronavirus-pandemic-little-grocery-store&ust=1585304460000000&usg=AFQjCNHiMtaVOHqePCGqv_uvS5v8Zh-_1Q&hl=en&source=gmail',
        },
      ],
    };
  },
};
</script>

<style lang="scss"
  module>
.section {
  padding: rem-calc(100px 0);
}

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: rem-calc(0 0 70px);
}

.title {
  font-size: rem-calc(32px);
  font-weight: 200;
  letter-spacing: -0.025em;
  line-height: 1.2;
  margin: 0;
  text-align: center;
}
</style>
