<template>
  <section :class="$style.section">
    <TheWrapper>
      <h2 :class="$style.title">
        Want to help? Have something to
        contribute to the community?
        Connect with us below!!!
      </h2>
      <form ref="form"
        class="form"
        @submit.prevent="submit">
        <div class="form-row">
          <div class="form-col">
            <TextField v-model="formData.name"
              label="Name" />
          </div>

          <div class="form-col">
            <TextField v-model="formData.email"
              label="Email" />
          </div>
        </div>

        <SelectField v-model="formData.occupation"
          :options="occupations"
          label="Occupation / Expertise" />

        <TextareaField v-model="formData.message"
          placeholder="Message"
          rows="6" />

        <div class="form-footer">
          <button :class="['btn btn--primary form-btn', { 'is-loading': loading }]"
            :disabled="loading"
            type="submit">
            Submit
          </button>
        </div>
      </form>
      <p :class="$style.copyright">
        CoronaVirus Community (CVC) (c) 2020
      </p>
    </TheWrapper>
    <AlertModal v-if="success"
      @close="success = false" />
  </section>
</template>

<script>
import AlertModal from '@/components/home/AlertModal';
import TextareaField from '@/components/form/fields/TextareaField';
import TextField from '@/components/form/fields/TextField';
import TheWrapper from '@/components/TheWrapper';
import SelectField from '@/components/form/fields/SelectField';

export default {
  name: 'ContactSection',

  components: {
    AlertModal,
    SelectField,
    TextareaField,
    TextField,
    TheWrapper,
  },

  data() {
    return {
      success: false,
      loading: false,
      formData: {
        name: '',
        email: '',
        occupation: '',
        message: '',
      },
      occupations: [
        'Medical',
        'Technology',
        'Scientist',
        'Inventor',
        'Marketing',
        'Logistics',
        'Real Estate',
        'Banking',
        'Advertising',
        'Legal',
        'Artist',
        'Sports',
        'Volunteer',
        'Military',
        'Other',
      ],
    };
  },

  methods: {
    submit() {
      this.loading = true;

      window.setTimeout(() => {
        this.$refs.form.reset();
        this.loading = false;
        this.success = true;
      }, 2000);
    },
  },
};
</script>

<style lang="scss"
  module>
.section {
  background-color: #f0f2f5;
  padding: rem-calc(140px 0 70px);
}

.title {
  @include font-shrink(40px, 2px);
  font-weight: 200;
  letter-spacing: -0.025;
  line-height: (70 / 40);
  margin: 0 auto rem-calc(110px);
  max-width: rem-calc(630px);
  text-align: center;
}

.copyright {
  font-size: rem-calc(12px);
  font-weight: 200;
  line-height: 1.2;
  margin: rem-calc(70px 0 0);
  text-transform: uppercase;
}
</style>
