<template>
  <div>
    <AboutSection ref="about" />
    <IntroSection id="intro" />
    <NewsSection id="news" />
    <CommunitySection id="community" />
    <VideosSection id="videos" />
    <TestimonialVideosSection />
    <ThingsToDoSection />
    <MovingForwardSection />
    <ContactSection id="connect" />
  </div>
</template>

<script>
import CommunitySection from '@/components/home/CommunitySection';
import ContactSection from '@/components/home/ContactSection';
import IntroSection from '@/components/home/IntroSection';
import MovingForwardSection from '@/components/home/MovingForwardSection';
import NewsSection from '@/components/home/NewsSection';
import TestimonialVideosSection from '@/components/home/TestimonialVideosSection';
import ThingsToDoSection from '@/components/home/ThingsToDoSection';
import VideosSection from '@/components/home/VideosSection';
import AboutSection from './AboutSection';

export default {
  name: 'HomeIndex',
  components: {
    AboutSection,
    MovingForwardSection,
    ThingsToDoSection,
    CommunitySection,
    TestimonialVideosSection,
    ContactSection,
    VideosSection,
    NewsSection,
    IntroSection,
  },
};
</script>

<style lang="scss"
  module>

</style>
