<template>
  <section :class="$style.section">
    <div :class="$style.background">
      <div :class="$style.backgroundLeft"></div>
      <TheWrapper>
        <div :class="$style.backgroundInner"></div>
        <div :class="$style.image">
          <ImageObject :image="{
            src: require('@/images/intro-bg.jpg'),
            width: 600,
            height: 1000,
          }" />
        </div>
      </TheWrapper>
      <div :class="$style.backgroundRight"></div>
    </div>
    <TheWrapper :inner-class="$style.cols">
      <div :class="$style.col1">
        <div :class="$style.columns">
          <div :class="$style.column">
            <IntroStatsHeader title="Global">
              <router-link :to="{ name: 'numbers', hash: '#global' }"
                class="btn btn--outline-primary">
                View Global
              </router-link>
            </IntroStatsHeader>
            <IntroStatsItem label="Total confirmed cases"
              :value="global.confirmed"
              icon="CheckCircleIcon" />
            <IntroStatsItem label="Total Recovered"
              :value="global.recovered"
              icon="FirstAidCircleIcon" />
            <IntroStatsItem label="Total Serious"
              :value="global.serious"
              icon="ExclamationTriangleCircleIcon" />
            <IntroStatsItem label="Total Deceased"
              :value="global.deaths"
              icon="DeadCircleIcon" />
          </div>
          <div :class="$style.column">
            <IntroStatsHeader title="USA">
              <router-link :to="{ name: 'numbers', hash: '#usa' }"
                class="btn btn--outline-primary">
                View USA
              </router-link>
            </IntroStatsHeader>
            <IntroStatsItem label="Total confirmed cases"
              :value="usa.confirmed"
              icon="CheckCircleIcon" />
            <IntroStatsItem label="Total Recovered"
              :value="usa.recovered"
              icon="FirstAidCircleIcon" />
            <IntroStatsItem label="Total Serious"
              :value="usa.serious"
              icon="ExclamationTriangleCircleIcon" />
            <IntroStatsItem label="Total Deceased"
              :value="usa.deaths"
              icon="DeadCircleIcon" />
          </div>
        </div>
      </div>
      <div ref="panel"
        :class="$style.col2">
        <IntroStaticsByRegion :items="statsByRegion" />
      </div>
    </TheWrapper>
  </section>
</template>

<script>
import homeData from '@/api/home.json';
import ImageObject from '@/components/misc/ImageObject';
import IntroStaticsByRegion from '@/components/home/intro/IntroStaticsByRegion';
import IntroStatsHeader from '@/components/home/intro/IntroStatsHeader';
import IntroStatsItem from '@/components/home/intro/IntroStatsItem';
import TheWrapper from '@/components/TheWrapper';

export default {
  name: 'IntroSection',

  components: {
    ImageObject,
    IntroStatsItem,
    IntroStatsHeader,
    IntroStaticsByRegion,
    TheWrapper,
  },

  data() {
    return {
      global: homeData.global,
      usa: homeData.usa,
      statsByRegion: homeData.stats,
    };
  },
};
</script>

<style lang="scss"
  module>
.section {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;

  :global(.wrapper) {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    width: 100%;
  }
}

.background {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  display: flex;
  width: 100%;

  @media (max-width: $xl) {
    display: none;
  }

  :global(.wrapper) {
    display: flex;
    flex: 0 0 auto;
  }

  :global(.wrapper__inner) {
    flex-shrink: 1;
    flex-grow: 1;
    position: relative;
  }


  &__right {
    background: #0d1527;
  }

  &__left,
  &__right {
    flex: 1 1 auto;
  }

  &__inner {
    background: #0d1527;
    height: 100%;
    right: 0;
    position: absolute;
    top: 0;
    width: grid-calc(5);

    @media (max-width: $lg) {
      width: 100%;
    }
  }
}

.image {
  height: 100%;
  right: 0;
  position: absolute;
  top: 0;
  width: grid-calc(5);

  @media (max-width: $xl) {
    display: none;
  }
}

.cols {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 auto;
}

.col1 {
  padding: rem-calc(100px) grid-calc(1) rem-calc(100px) 0;
  width: grid-calc(9);

  @media (max-width: $xl) {
    padding-right: 0;
    width: 100%;
  }
}

.col2 {
  color: #fff;
  position: relative;
  width: grid-calc(5);

  @media (max-width: $xl) {
    background-color: #0d1527;
    margin-left: grid-calc(-1);
    margin-right: grid-calc(-1);
    width: calc(100% + #{grid-calc(2)});
  }
}

.columns {
  column-count: 2;
  column-gap: grid-calc(1, 8);

  @media (max-width: $xl) {
    column-gap: grid-calc(1);
  }

  @media (max-width: $sm) {
    column-count: 1;
  }
}

.column {
  break-inside: avoid;
  page-break-inside: avoid;

  @media (max-width: $sm) {
    margin-bottom: rem-calc(60px);
  }
}
</style>
