<template>
  <section :class="$style.section">
    <TheWrapper>
      <SectionHeader2 title="Moving Forward">
        <SectionLaunching date="2020-06-28" />
      </SectionHeader2>
      <CardsList :items="items">
        <CardItem slot-scope="{ item }"
          :item="item" />
      </CardsList>
    </TheWrapper>
  </section>
</template>

<script>
import CardItem from '@/components/cards/CardItem';
import CardsList from '@/components/cards/CardsList';
import SectionHeader2 from '@/components/home/SectionHeader2';
import SectionLaunching from '@/components/home/SectionLaunching';
import TheWrapper from '@/components/TheWrapper';

export default {
  name: 'MovingForwardSection',

  components: {
    SectionHeader2,
    SectionLaunching,
    CardItem,
    CardsList,
    TheWrapper,
  },
  data() {
    return {
      items: [
        {
          image: require('@/images/moving-forward/moving-forward-1.jpg'),
          title: 'PPE equipment',
        },
        {
          image: require('@/images/moving-forward/moving-forward-2.jpg'),
          title: 'Assistance for Elderly',
        },
        {
          image: require('@/images/moving-forward/moving-forward-3.jpg'),
          title: 'Surplus Supplies',
        },
        {
          image: require('@/images/moving-forward/moving-forward-4.jpg'),
          title: 'How to Prepare for whats to come',
        },
        {
          image: require('@/images/moving-forward/moving-forward-5.jpg'),
          title: 'New Opportunities',
        },
        {
          image: require('@/images/moving-forward/moving-forward-6.jpg'),
          title: 'What Have We Learned?',
        },
      ],
    };
  },
};
</script>

<style lang="scss"
  module>
.section {
  padding: rem-calc(86px 0);
}
</style>
