<template>
  <section :class="$style.section">
    <TheWrapper>
      <header :class="$style.header">
        <h2 :class="$style.title">
          News
        </h2>
        <router-link :to="{ name: 'news' }"
          class="btn btn--outline-inverted">
          View all
        </router-link>
      </header>
      <NewsList :items="reorderedItems">
        <NewsItem slot-scope="{ item }"
          :item="item" />
      </NewsList>
    </TheWrapper>
  </section>
</template>

<script>
import { shuffle } from '@/helpers';
import { newsItems } from '@/components/news/items';

import NewsItem from '@/components/news/NewsItem';
import NewsList from '@/components/news/NewsList';
import TheWrapper from '@/components/TheWrapper';

export default {
  name: 'NewsSection',
  components: {
    NewsList,
    NewsItem,
    TheWrapper,
  },

  computed: {
    reorderedItems() {
      const news = shuffle(newsItems);

      return news.slice(0, 6);
    },
  },
};
</script>

<style lang="scss"
  module>
.section {
  background-color: #090f1a;
  color: #fff;
  padding: rem-calc(94px 0 96px);
}

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: rem-calc(0 0 70px);
}

.title {
  font-size: rem-calc(30px);
  font-weight: 200;
  letter-spacing: -0.025em;
  line-height: 1.2;
  margin: 0;
}
</style>
