<template>
  <header :class="$style.header">
    <h2 :class="$style.title">
      {{ title }}
    </h2>
    <div v-if="$slots.default"
      :class="$style.right">
      <slot></slot>
    </div>
  </header>
</template>

<script>
export default {
  name: 'SectionHeader2',

  props: {
    title: {
      type: String,
      required: true,
    },
  },
};
</script>

<style lang="scss"
  module>
.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: rem-calc(0 -20px 20px);

  @media (max-width: $xl) {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.title {
  font-weight: 200;
  letter-spacing: -0.025em;
  line-height: (100 / 80);
  margin: rem-calc(0 20px 34px);
  font-size: rem-calc(80px);

  @media (max-width: $xxl) {
    font-size: 5vw;
  }

  @media (max-width: $xl) {
    @include font-shrink(80px, 4px);
    text-align: center;
    width: 100%;
  }
}

.right {
  margin: rem-calc(0 20px 34px);
}
</style>
