<template>
  <div :class="$style.el">
    <h4 :class="$style.title">
      Launching In
      <span :class="$style.hline"></span>
    </h4>
    <div :class="$style.cols">
      <div :class="$style.col">
        <span :class="$style.value">
          {{ days }}
        </span>
        <div :class="$style.label">
          {{ days | pluralize('day') | capitalize }}
        </div>
      </div>
      <TwoDotsIcon :class="$style.icon" />
      <div :class="$style.col">
        <span :class="$style.value">
          {{ hours }}
        </span>
        <div :class="$style.label">
          {{ hours | pluralize('hour') | capitalize }}
        </div>
      </div>
      <TwoDotsIcon :class="$style.icon" />
      <div :class="$style.col">
        <span :class="$style.value">
          {{ minutes }}
        </span>
        <div :class="$style.label">
          {{ minutes | pluralize('min') | capitalize }}
        </div>
      </div>
      <TwoDotsIcon :class="$style.icon" />
      <div :class="$style.col">
        <span :class="$style.value">
          {{ seconds }}
        </span>
        <div :class="$style.label">
          {{ seconds | pluralize('second') | capitalize }}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import TwoDotsIcon from '@/icons/TwoDotsIcon';

export default {
  name: 'SectionLaunching',
  components: { TwoDotsIcon },

  props: {
    date: {
      type: String,
      required: true,
    },
  },

  data() {
    return {
      now: Math.trunc((new Date()).getTime() / 1000),
      timerId: null,
    };
  },

  computed: {
    parsedDate() {
      return Math.trunc(Date.parse(this.date) / 1000);
    },

    seconds() {
      if (this.parsedDate > this.now) {
        return Math.trunc(this.parsedDate - this.now) % 60;
      }

      return 0;
    },

    minutes() {
      if (this.parsedDate > this.now) {
        return Math.trunc((this.parsedDate - this.now) / 60) % 60;
      }

      return 0;
    },

    hours() {
      if (this.parsedDate > this.now) {
        return Math.trunc((this.parsedDate - this.now) / 60 / 60) % 24;
      }

      return 0;
    },

    days() {
      if (this.parsedDate > this.now) {
        return Math.trunc((this.parsedDate - this.now) / 60 / 60 / 24);
      }

      return 0;
    },
  },

  mounted() {
    this.timerId = window.setInterval(() => {
      this.now = Math.trunc((new Date()).getTime() / 1000);
    }, 1000);
  },

  beforeDestroy() {
    window.clearInterval(this.timerId);
    this.timerId = null;
  },
};
</script>

<style lang="scss"
  module>
.el {
  align-items: center;
  display: flex;

  @media (max-width: $sm) {
    flex-wrap: wrap;
  }
}

.title {
  align-items: center;
  display: flex;
  font-size: rem-calc(20px);
  font-weight: 200;
  letter-spacing: -0.025em;
  line-height: 1.2;
  margin: rem-calc(0 0 20px);

  @media (max-width: $sm) {
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
}

.hline {
  background: $brand-color;
  height: 1px;
  margin: rem-calc(0 22px);
  width: rem-calc(48px);
  flex-grow: 0;

  @media (max-width: $sm) {
    margin: rem-calc(22px 0 0);
  }
}

.cols {
  align-items: center;
  display: flex;
  line-height: 1;

  @media (max-width: $sm) {
    justify-content: center;
    width: 100%;
  }
}

.col {
  text-align: center;
}

.value {
  font-size: rem-calc(30px);
  font-weight: 200;
  letter-spacing: -0.025em;
  width: rem-calc(35px);
}

.label {
  font-size: rem-calc(12px);
  font-weight: 400;
  margin-top: rem-calc(8px);
  opacity: 0.5;
  text-transform: uppercase;
}

.icon {
  fill: #afafaf;
  height: rem-calc(12px);
  width: rem-calc(3px);
  margin: rem-calc(0 28px 20px);
}
</style>
