<template>
  <section :class="$style.section">
    <TheWrapper>
      <header :class="$style.header">
        <h2 :class="$style.title">
          Testimonials
        </h2>
      </header>
      <VideosSwiper :items="items" />
    </TheWrapper>
  </section>
</template>

<script>
import VideosSwiper from '@/components/home/videos/VideosSwiper';
import TheWrapper from '@/components/TheWrapper';

export default {
  name: 'TestimonialVideosSection',

  components: {
    VideosSwiper,
    TheWrapper,
  },

  data() {
    return {
      items: [
        {
          image: require('@/images/testimonials/1.jpg'),
          title: 'My Family Has Mild Coronavirus. Here\'s Our Home Covid-19 Treatment Plan',
          to: 'https://www.youtube.com/watch?v=udprEtDVmIY',
        },
        {
          image: require('@/images/testimonials/2.jpg'),
          title: 'Coronavirus Survivor Says She Didn\'t Think She Would Survive | Good Morning Britain',
          to: 'https://www.youtube.com/watch?v=LObtOHvhwC4',
        },
        {
          image: require('@/images/testimonials/3.jpg'),
          title: 'Filipino Covid-19 survivor tells his story of coronavirus infection and recovery',
          to: 'https://www.youtube.com/watch?v=YQbxAsBKffk',
        },
        {
          image: require('@/images/testimonials/4.jpg'),
          title: 'Recovering coronavirus patients share stories of survival',
          to: 'https://www.youtube.com/watch?v=w9YwDoDRIHs',
        },
        {
          image: require('@/images/testimonials/5.jpg'),
          title: 'My coronavirus story: a survivor shares her story',
          to: 'https://www.youtube.com/watch?v=T7TGH2rO9-Y',
        },
        {
          image: require('@/images/testimonials/6.jpg'),
          title: 'Dr Marta Dell\'Aringa shares her experience of Coronavirus (COVID-19)',
          to: 'https://www.youtube.com/watch?v=eLUMkeyE7mU',
        },
        {
          image: require('@/images/testimonials/7.jpg'),
          title: 'Coronavirus Survivor Describes Her Experience | Good Morning Britain',
          to: 'https://www.youtube.com/watch?v=b3FW7fj-Kcc',
        },
        {
          image: require('@/images/testimonials/3_people.jpg'),
          title: '3 Coronavirus Patients Share Stories From Testing And Quarantine',
          to: 'https://www.youtube.com/watch?v=4uInE0P4Io0',
        },
        {
          image: require('@/images/testimonials/7_30.jpg'),
          title: 'What is it like to actually have coronavirus? | 7.30',
          to: 'https://www.youtube.com/watch?v=qNIMP5qeW3A',
        },
        {
          image: require('@/images/testimonials/coronavirus_sufferer.jpg'),
          title: 'Coronavirus sufferer reveals what it’s like to have the disease',
          to: 'https://www.youtube.com/watch?v=9wzc6nFKimI&t=109s',
        },
        {
          image: require('@/images/testimonials/GOOD_MORNING_BRITAIN.jpg'),
          title: 'Coronavirus Survivor Describes His Experience | Good Morning Britain',
          to: 'https://www.youtube.com/watch?v=tbAYN9zKIJQ',
        },
        {
          image: require('@/images/testimonials/ohio_man.jpg'),
          title: 'Ohio man shares coronavirus experience l ABC News',
          to: 'https://www.youtube.com/watch?v=hoTpRQtfnII',
        },
      ],
    };
  },
};
</script>

<style lang="scss"
  module>
.section {
  background-color: #0d1527;
  color: #fff;
  padding: rem-calc(110px 0);
}

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: rem-calc(0 0 98px);
}

.title {
  font-size: rem-calc(30px);
  font-weight: 200;
  line-height: (42 / 30);
  margin: rem-calc(0 16px 0 0);
}
</style>
