<template>
  <section :class="$style.section">
    <TheWrapper>
      <SectionHeader2 title="Things to do">
        <SectionLaunching date="2020-06-28" />
      </SectionHeader2>
      <CardsList :items="items">
        <CardItem slot-scope="{ item }"
          :item="item" />
      </CardsList>
    </TheWrapper>
  </section>
</template>

<script>
import CardItem from '@/components/cards/CardItem';
import CardsList from '@/components/cards/CardsList';
import SectionHeader2 from '@/components/home/SectionHeader2';
import SectionLaunching from '@/components/home/SectionLaunching';
import TheWrapper from '@/components/TheWrapper';

export default {
  name: 'ThingsToDoSection',

  components: {
    SectionLaunching,
    SectionHeader2,
    CardItem,
    CardsList,
    TheWrapper,
  },
  data() {
    return {
      items: [
        {
          image: require('@/images/entertainment/entertainment-1.jpg'),
          title: 'Level Up',
        },
        {
          image: require('@/images/entertainment/entertainment-2.jpg'),
          title: 'To Watch',
        },
        {
          image: require('@/images/entertainment/entertainment-3.jpg'),
          title: 'To Listen',
        },
        {
          image: require('@/images/entertainment/entertainment-4.jpg'),
          title: 'To Play',
        },
        {
          image: require('@/images/entertainment/entertainment-5.jpg'),
          title: 'To Cook',
        },
        {
          image: require('@/images/entertainment/entertainment-6.jpg'),
          title: 'To Build',
        },
      ],
    };
  },
};
</script>

<style lang="scss"
  module>
.section {
  padding: rem-calc(86px 0);
}
</style>
