<template>
  <section :class="$style.section">
    <TheWrapper>
      <header :class="$style.header">
        <h2 :class="$style.title">
          Videos
        </h2>
      </header>
      <VideosSwiper :items="items" />
    </TheWrapper>
  </section>
</template>

<script>
import VideosSwiper from '@/components/home/videos/VideosSwiper';
import TheWrapper from '@/components/TheWrapper';

export default {
  name: 'VideosSection',
  components: {
    VideosSwiper,
    TheWrapper,
  },

  data() {
    return {
      items: [
        {
          image: require('@/images/videos/1.png'),
          title: 'COVID-19 Animation: What Happens If You Get Coronavirus?',
          to: 'https://www.youtube.com/watch?v=5DGwOJXSxqg',
        },
        {
          image: require('@/images/videos/2.png'),
          title: 'What Coronavirus Symptoms Look Like, Day By Day',
          to: 'https://www.youtube.com/watch?v=OOJqHPfG7pA',
        },
        {
          image: require('@/images/videos/3.png'),
          title: 'Joe Rogan Experience #1451 - Dr. Peter Hotez',
          to: 'https://www.youtube.com/watch?v=Q9Q53KWZFMU',
        },
        {
          image: require('@/images/videos/4.png'),
          title: 'Joe Rogan Experience #1439 - Michael Osterholm',
          to: 'https://www.youtube.com/watch?v=E3URhJx0NSw&t=160s',
        },
        {
          image: require('@/images/videos/5.png'),
          title: 'The Drive - Dr Peter Attia - #102–Michael Osterholm, PhD: COVID-19—Challenges ahead & reasons for optimism and concern',
          to: 'https://www.youtube.com/watch?v=caaY-NixY3s',
        },
        {
          image: require('@/images/videos/6.png'),
          title: 'The Drive - Dr Peter Attia - #101 – Ryan Holiday: Finding stillness amidst chaos',
          to: 'https://www.youtube.com/watch?v=JWpGztbtDnA',
        },
        {
          image: require('@/images/videos/7.png'),
          title: 'The Drive - Dr Peter Attia - #100 – Sam Harris, Ph.D.: COVID-19—Comprehending the crisis and managing our emotions',
          to: 'https://www.youtube.com/watch?v=6KS5Fl6CId4&t=11s',
        },
        {
          image: require('@/images/videos/8.png'),
          title: 'The Drive - Dr Peter Attia - Common Topics of COVID-19 Scams & Potential Cyber Threats',
          to: 'https://www.youtube.com/watch?v=cLO14jkJKZg',
        },
        {
          image: require('@/images/videos/9.png'),
          title: 'The Drive - Dr Peter Attia - #99 – Peter Hotez, M.D., Ph.D.: Continuing the conversation on COVID-19',
          to: 'https://www.youtube.com/watch?v=6OX8wo6Mfxk',
        },
        {
          image: require('@/images/videos/10.png'),
          title: 'A Pandemic of Possibility: Zach Bush, MD | Rich Roll Podcast',
          to: 'https://www.youtube.com/watch?v=qUiGgRHES4k',
        },
        {
          image: require('@/images/videos/11.png'),
          title: 'Care In The Time of Coronavirus | Rich Roll Podcast',
          to: 'https://www.youtube.com/watch?v=iKOCk9cP3Pg',
        },
        {
          image: require('@/images/videos/12.png'),
          title: 'Russell Brand & Wim Hof: Corona Survival Guide - Full Length Podcast',
          to: 'https://www.youtube.com/watch?v=YfAgSusi6t0',
        },
        {
          image: require('@/images/videos/13.png'),
          title: 'Russell Brand Live - The New Normal #1',
          to: 'https://www.youtube.com/watch?v=xxYIFoq_ffI',
        },
        {
          image: require('@/images/videos/14.png'),
          title: 'Russell Brand - Is Corona Bringing Out The Best Or Worst In Us?',
          to: 'https://www.youtube.com/watch?v=1EkHf37PDmY',
        },
        {
          image: require('@/images/videos/15.png'),
          title: 'Corona Revolution: Plagues & Power | Russell Brand & Philosopher Brad Evans',
          to: 'https://www.youtube.com/watch?v=PIScK4o67jU',
        },
        {
          image: require('@/images/videos/16.png'),
          title: 'Russell Brand & Dr. Gabor Mate - Pandemics & Infodemics - Wisdom In The Time Of Covid-19',
          to: 'https://www.youtube.com/watch?v=7FEoQOurpGo',
        },
        {
          image: require('@/images/videos/corona_explained.jpg'),
          title: 'The Coronavirus Explained & What You Should Do',
          to: 'https://www.youtube.com/watch?v=BtN-goy9VOY',
        },
        {
          image: require('@/images/videos/episode_44.jpg'),
          title: 'Coronavirus Pandemic Update 44',
          to: 'https://www.youtube.com/watch?v=A4eu-h_owaI',
        },
        {
          image: require('@/images/videos/epimieology.jpg'),
          title: 'COVID-19 | Corona Virus: Epidemiology, Pathophysiology, Diagnostics',
          to: 'https://www.youtube.com/watch?v=PWzbArPgo-o',
        },
        {
          image: require('@/images/videos/wuhan_lockdown.jpg'),
          title: 'The lockdown: One month in Wuhan',
          to: 'https://www.youtube.com/watch?v=XU9FVqwO4TM',
        },
        {
          image: require('@/images/videos/working_from_home.jpg'),
          title: 'Working from home during Coronavirus (COVID-19) - 10 Tips',
          to: 'https://www.youtube.com/watch?v=S5XCuzw5Bg8',
        },
      ],
    };
  },
};
</script>

<style lang="scss"
  module>
.section {
  background-color: #0d1527;
  color: #fff;
  padding: rem-calc(110px 0 0);
}

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: rem-calc(0 0 98px);
}

.title {
  font-size: rem-calc(30px);
  font-weight: 200;
  line-height: (42 / 30);
  margin: rem-calc(0 16px 0 0);
}
</style>
