<template>
  <SinglePageLayout title="Community">
    <CardsList :items="items">
      <CardItem slot-scope="{ item }"
        :item="item" />
    </CardsList>
  </SinglePageLayout>
</template>

<script>
import CardItem from '@/components/cards/CardItem';
import CardsList from '@/components/cards/CardsList';
import SinglePageLayout from '@/components/SinglePageLayout';

export default {
  name: 'CommunityIndex',
  components: {
    CardItem,
    CardsList,
    SinglePageLayout,
  },
  data() {
    return {
      items: [
        {
          image: require('@/images/infocenter-1.jpg'),
          // date: '23 september 2020',
          title: 'Each States response (Lockdown, Paid Sick Leave, etc...)',
          to: 'https://www.politico.com/news/2020/03/24/coronavirus-state-response-maps-146144',
        },
        {
          image: require('@/images/infocenter-4.jpg'),
          // date: '23 september 2020',
          title: 'Corona Virus at a Glance (101)',
          to: 'https://www.hopkinsmedicine.org/health/conditions-and-diseases/coronavirus/coronavirus-facts-infographic',
        },
        {
          image: require('@/images/infocenter-7.jpg'),
          // date: '23 september 2020',
          title: 'How to Stay Safe and Sane During the Coronavirus isolation',
          to: 'https://thenextweb.com/syndication/2020/03/22/how-to-stay-safe-and-sane-during-coronavirus-isolation-according-to-science/',
        },
        {
          image: require('@/images/infocenter-2.jpg'),
          // date: '23 september 2020',
          title: 'Free things to do during lockdown',
          to: 'https://www.npr.org/2020/03/20/818670715/getting-bored-heres-a-list-of-free-things-that-werent-free-before-coronavirus',
        },
        {
          image: require('@/images/community/Shelter_in_place.jpg'),
          // date: '23 september 2020',
          title: '“Shelter in Place” and “Stay at Home” orders explained',
          to: 'https://www.google.com/url?q=https://www.thecut.com/2020/03/what-does-shelter-in-place-mean.html&ust=1585304460000000&usg=AFQjCNFvJ28hO5_4slxQWt-fPd9YkCs0Mw&hl=en&source=gmail',
        },
        {
          image: require('@/images/infocenter-8.jpg'),
          // date: '23 september 2020',
          title: 'Coronavirus fake news tracker!!!',
          to: 'https://www.buzzfeednews.com/article/janelytvynenko/coronavirus-fake-news-disinformation-rumors-hoaxes',
        },
        {
          image: require('@/images/infocenter-3.jpg'),
          // date: '23 september 2020',
          title: 'Genius Doctor transforms one ventilator into nine (9)',
          to: 'https://themindunleashed.com/2020/03/genius-doctor-turns-one-ventilator-into-nine-using-diy-tips-from-youtube-video.html',
        },
        {
          image: require('@/images/infocenter-6.jpg'),
          // date: '23 september 2020',
          title: 'The Future After the Corona Virus',
          to: 'https://www.deutschland.de/en/news/the-future-after-coronavirus',
        },
        {
          image: require('@/images/community/grocery_store.jpg'),
          // date: '23 september 2020',
          title: 'Local Heroes amid the Pandemic - The Little Grocery Store',
          to: 'https://www.google.com/url?q=https://www.the-review.com/news/20200325/local-heroes-amid-coronavirus-pandemic-little-grocery-store&ust=1585304460000000&usg=AFQjCNHiMtaVOHqePCGqv_uvS5v8Zh-_1Q&hl=en&source=gmail',
        },
      ],
    };
  },
};
</script>

<style lang="scss"
  module>
</style>
