<template>
  <div :class="$style.page">
    <TheWrapper>
      <div :class="$style.content">
        <h2 :class="$style.title">
          Interactive Statistics
          Data and Info Tools
        </h2>
        <div :class="$style.cols">
          <div v-for="(item, index) in items"
            :key="index"
            :class="$style.col">
            <a :href="item.to"
              :class="$style.item"
              target="_blank">
              <ImageObject :image="{ src: item.image }"
                fill />
            </a>
          </div>
        </div>
      </div>
    </TheWrapper>
  </div>
</template>

<script>
import ImageObject from './misc/ImageObject';
import TheWrapper from './TheWrapper';

export default {
  name: 'DataSourcesIndex',
  components: {
    ImageObject,
    TheWrapper,
  },
  data() {
    return {
      items: [
        {
          to: 'https://www.arcgis.com/index.html',
          image: require('@/images/tools-john-hopkins.jpg'),
        },
        {
          to: 'https://milkeninstitute.org/covid-19-tracker',
          image: require('@/images/tools-milken-institute.jpg'),
        },
        {
          to: 'https://ourworldindata.org/',
          image: require('@/images/tools-our-world-in-data.jpg'),
        },
        {
          to: 'https://www.covidvisualizer.com/',
          image: require('@/images/tools-globe.jpg'),
        },
        {
          to: 'https://www.worldometers.info/coronavirus/',
          image: require('@/images/tools-worldometers.jpg'),
        },
        {
          to: 'https://healthweather.us/?mode=Atypical',
          image: require('@/images/tools-kinsa-insights.jpg'),
        },
      ],
    };
  },
};
</script>

<style lang="scss"
  module>
.page {
  background-color: #f4f6f9;
  padding-top: rem-calc($header-height);
}

.content {
  padding: rem-calc(84px 0);
}

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
}

.title {
  @include font-shrink(80px, 4px);
  font-weight: 300;
  letter-spacing: -0.025em;
  line-height: (100 / 80);
  margin: rem-calc(0 0 96px);
  max-width: rem-calc(740px);
}

.cols {
  display: flex;
  flex-wrap: wrap;
  margin: rem-calc(0 -15px -30px);
}

.col {
  padding: rem-calc(0 15px 30px);
  width: 33.3333%;

  @media (max-width: $md) {
    width: 50%;
  }

  @media (max-width: $xs) {
    width: 100%;
  }
}

.item {
  background-color: #fff;
  display: block;
  padding-bottom: 100%;
  position: relative;
}
</style>
