<template>
  <div :class="$style.page">
    <video :class="$style.video"
      controls>
      <source :src="require('@/videos/covid_video.webm')"
        type="video/webm">
      <source src="https://project-uploaded-videos.s3.amazonaws.com/covid_video.mp4"
        type="video/mp4">
    </video>
  </div>
</template>

<script>
export default {
  name: 'PromoVideoIndex',
};
</script>

<style lang="scss"
  module>
.page {
  background-color: #000;
  height: 100vh;
  position: relative;
}

.video {
  height: 100%;
  left: 0;
  object-fit: contain;
  position: absolute;
  top: 0;
  width: 100%;
}
</style>
