<template>
  <div :class="$style.page">
    <header :class="$style.header">
      <TheWrapper>
        <h2 :class="$style.title">
          {{ title }}
        </h2>
      </TheWrapper>
    </header>
    <div :class="$style.content">
      <TheWrapper>
        <slot></slot>
      </TheWrapper>
    </div>
  </div>
</template>

<script>
import TheWrapper from '@/components/TheWrapper';

export default {
  name: 'SinglePageLayout',
  components: {
    TheWrapper,
  },

  props: {
    title: {
      type: String,
      required: true,
    },
  },
};
</script>

<style lang="scss"
  module>
.page {
  padding-top: rem-calc($header-height);
}

.header {
  padding: rem-calc(86px 0);
}

.title {
  @include font-shrink(80px, 4px);
  font-weight: 200;
  letter-spacing: -0.025em;
  line-height: (100 / 80);
  margin: 0;
}

.content {
  background-color: #090f1a;
  color: #fff;
  padding: rem-calc(92px 0);
}
</style>
