<template>
  <div class="wrapper">
    <div :class="innerClass"
      class="wrapper__inner">
      <slot></slot>
    </div>
  </div>
</template>

<script>
export default {
  name: 'TheWrapper',

  props: {
    innerClass: {
      type: null,
      default: '',
    },
  },
};
</script>

<style lang="scss">
.wrapper {
  margin: 0 auto;
  max-width: $wrapper-width;
  position: relative;
  width: 100%;

  &__inner {
    padding: 0 wrap-calc($wrapper-padding, $wrapper-width);
  }
}
</style>
