<template>
  <div :class="['form-field is-required', { ['form-field--empty']: !internalValue }]">
    <label :class="['form-field-group', $style.group]">
      <CadetDownIcon :class="$style.icon" />
      <span v-if="label"
        class="form-label">
        {{ label }}
      </span>
      <select v-model="internalValue"
        :disabled="disabled"
        :readonly="readonly"
        :multiple="multiple"
        :size="size"
        class="form-select">
        <option v-if="placeholder"
          value=""
          disabled>
          {{ placeholder }}
        </option>
        <option v-for="(option, index) in options"
          :key="index"
          :value="option.id || option.title || option"
          :disabled="option.disabled">
          {{ (option.title || option) | capitalize }}
        </option>
      </select>
    </label>
  </div>
</template>

<script>
import CadetDownIcon from '@/icons/CadetDownIcon';

export default {
  components: { CadetDownIcon },
  props: {
    value: {
      type: null,
      required: true,
    },

    label: {
      type: String,
      default: null,
    },

    placeholder: {
      type: String,
      default: null,
    },

    options: {
      type: Array,
      required: true,
    },

    readonly: {
      type: Boolean,
      default: false,
    },

    disabled: {
      type: Boolean,
      default: false,
    },

    multiple: {
      type: Boolean,
      default: false,
    },

    size: {
      type: String,
      default: null,
    },
  },

  data() {
    return {
      internalValue: this.value || '',
    };
  },

  watch: {
    value(value) {
      if (value !== this.internalValue) {
        this.internalValue = value || '';
      }
    },

    internalValue(value) {
      this.$emit('input', value);
    },
  },
};
</script>
<style lang="scss"
  module>
.group {
  position: relative;

  select {
    position: relative;
  }
}

.icon {
  fill: #cdcecf;
  height: 7px;
  position: absolute;
  right: rem-calc(30px);
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
}
</style>
