<template>
  <div :class="['form-field', { ['form-field--empty']: !value }]">
    <label class="form-field-group">
      <span v-if="label"
        class="form-label">{{ label }}
      </span>
      <textarea v-autosize
        :rows="rows"
        class="form-textarea"
        :value="value"
        :maxlength="maxlength"
        :placeholder="placeholder"
        :readonly="readonly"
        :disabled="disabled"
        @input="update"></textarea>
    </label>
  </div>
</template>

<script>
export default {
  props: {
    value: {
      type: String,
      required: true,
    },

    label: {
      type: String,
      default: null,
    },

    maxlength: {
      type: [
        Number,
        String,
      ],
      default: null,
    },

    rows: {
      type: [
        Number,
        String,
      ],
      default: 4,
    },

    placeholder: {
      type: String,
      default: null,
    },

    readonly: {
      type: Boolean,
      default: false,
    },

    disabled: {
      type: Boolean,
      default: false,
    },
  },

  data() {
    return {
      length: this.value ? this.value.length : 0,
      changed: false,
    };
  },

  watch: {
    value(value) {
      this.length = value.length;
    },
  },

  methods: {
    update(event) {
      let newValue = event.target.value;

      if (this.maxlength && newValue.length >= this.maxlength) {
        newValue = `${newValue.substring(0, this.maxlength - 3)}...`;
      }

      if (newValue !== event.target.value) {
        event.target.value = newValue;
      }

      this.$emit('input', newValue);
    },
  },
};
</script>
