<template>
  <div :class="['form-field is-required', { ['form-field--empty']: !internalValue }]">
    <label class="form-field-group">
      <span v-if="label"
        class="form-label">
        {{ label }}
      </span>
      <input v-model="internalValue"
        :type="type"
        class="form-input"
        :name="name"
        :placeholder="placeholder"
        :readonly="readonly"
        :disabled="disabled">
    </label>
  </div>
</template>

<script>
export default {
  props: {
    value: {
      type: null,
      required: true,
    },

    type: {
      type: String,
      default: 'text',
    },

    name: {
      type: String,
      default: null,
    },

    label: {
      type: String,
      default: null,
    },

    placeholder: {
      type: String,
      default: null,
    },

    readonly: {
      type: Boolean,
      default: false,
    },

    disabled: {
      type: Boolean,
      default: false,
    },
  },

  data() {
    return {
      internalValue: this.value,
      changed: false,
    };
  },

  watch: {
    value(value) {
      if (value !== this.internalValue) {
        this.internalValue = value;
      }
    },

    internalValue(value) {
      this.changed = true;
      this.$emit('input', value);
    },
  },
};
</script>
