<template>
  <component :is="tag"
    ref="el">
    {{ number | numberFormat }}
  </component>
</template>

<script>
import { CountUp } from 'countup.js';

export default {
  name: 'CountUpNumber',

  props: {
    tag: {
      type: String,
      default: 'span',
    },

    number: {
      type: Number,
      default: 0,
    },
  },
  mounted() {
    const options = {
      duration: 4,
    };
    const countUp = new CountUp(this.$el, this.number, options);
    countUp.start();
  },
};
</script>

<style lang="scss"
  module>

</style>
