<template>
  <div :class="$style.el">
    <div :class="$style.inner">
      <h3 :class="$style.title">
        New Cases
      </h3>
      <div :class="$style.tabs">
        <div :class="[$style.tab, {[$style.tabActive]: activeKey.total === 'cases'}]"
          @click="setActiveKey('cases')">
          <div :class="[$style.tabDot, $style.tabDotPrimary]"></div>
          Confirmed
        </div>
        <div :class="[$style.tab, {[$style.tabActive]: activeKey.total === 'deaths'}]"
          @click="setActiveKey('deaths')">
          <div :class="[$style.tabDot, $style.tabDotDanger]"></div>
          Deaths
        </div>
      </div>
      <div :class="$style.propsContainer">
        <ul :class="$style.props">
          <template v-for="item in items">
            <li :key="item.id"
              :class="$style.propsItem">
              <router-link :to="{name: 'numbers', hash: `#${item.region}`}"
                :class="$style.prop">
                <span :class="$style.background"></span>
                <span :class="$style.content">
                  <span :class="$style.label">
                    <template v-if="item.region === 'usa'">
                      {{ item.region.toUpperCase() }}
                    </template>
                    <template v-else>
                      {{ item.region | title }}
                    </template>
                  </span>
                  <span :class="$style.value">
                    {{ item[activeKey.new] | numberFormat }}
                    —
                    {{ calculatePercents(item[activeKey.new], item[activeKey.total]) }}%
                    <template v-if="item[activeKey.new]">
                      <CadetUpIcon
                        v-if="calculatePercents(item[activeKey.new], item[activeKey.total]) > 3"
                        :class="$style.cadetUp" />
                      <CadetDownIcon v-else
                        :class="$style.cadetDown" />
                    </template>
                  </span>
                </span>
              </router-link>
            </li>
          </template>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
import CadetDownIcon from '@/icons/CadetDownIcon';
import CadetUpIcon from '@/icons/CadetUpIcon';

export default {
  name: 'IntroStaticsByRegion',
  components: {
    CadetUpIcon,
    CadetDownIcon,
  },

  props: {
    items: {
      type: Array,
      required: true,
    },
  },

  data() {
    return {
      activeKey: {
        total: 'cases',
        new: 'new_cases',
      },
    };
  },

  methods: {
    setActiveKey(key) {
      this.activeKey = {
        total: key,
        new: `new_${key}`,
      };
    },

    calculatePercents(newValue, total) {
      if (newValue) {
        return ((newValue * 100) / total).toFixed(2);
      }

      return 0;
    },
  },
};
</script>

<style lang="scss"
  module>
.el {
  min-height: 100%;
  // padding: rem-calc($header-height  + 62px) grid-calc(1, 5) rem-calc(72px);
  padding: rem-calc(100px) grid-calc(1, 5);
  position: relative;
  overflow: hidden;
  margin-right: grid-calc(-1, 5);

  @media (max-width: $xl) {
    padding-right: grid-calc(1, 16);
    padding-left: grid-calc(1, 16);
    margin-right: 0;
    padding-top: rem-calc(120px);
  }
}

.image {
  // display: none;
  height: 100%;
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: grid-calc(6, 5);

  @media (max-width: $xl) {
    display: block;
  }
}

.inner {
  position: relative;
}

.title {
  font-size: rem-calc(60px);
  font-weight: 200;
  letter-spacing: -0.025em;
  line-height: 1;
  margin: rem-calc(0 0 40px);
}

.tabs {
  border-bottom: 1px solid rgba(#fff, 0.2);
  display: flex;
}

.tab {
  align-items: center;
  border-bottom: 1px solid transparent;
  cursor: pointer;
  display: flex;
  font-size: rem-calc(12px);
  line-height: 1.2;
  margin-bottom: -1px;
  padding: rem-calc(0 0 20px);
  text-transform: uppercase;
  user-select: none;
  width: 50%;

  &:last-child:not(:first-child) {
    justify-content: flex-end;
  }

  &--active {
    border-bottom-color: #fff;;
  }

  &__dot {
    border-radius: 50%;
    height: rem-calc(13px);
    margin-right: rem-calc(12px);
    width: rem-calc(13px);

    &--success {
      background-color: $brand-success;
    }

    &--primary {
      background-color: $brand-color;
    }

    &--danger {
      background-color: $brand-danger;
    }
  }
}

.propsContainer {
  margin: grid-calc(0 -0.3, 4);

  @media (max-width: $xl) {
    margin: grid-calc(0 -0.3, 14);
  }
}

.props {
  max-height: rem-calc(607px);
  list-style: none;
  margin: 0;
  overflow: auto;
  padding: rem-calc(24px 0 0);

  &__item {
  }
}

.prop {
  color: #fff;
  display: block;
  padding: 0 grid-calc(0.3, 4);
  position: relative;

  @media (max-width: $xl) {
    padding: 0 grid-calc(0.3, 14.6);
  }

  &:hover {
    color: #fff;
  }
}

.background {
  background-color: $brand-color;
  border-radius: 8px;
  bottom: -1px;
  left: 0;
  opacity: 0;
  position: absolute;
  top: -1px;
  transition: opacity 150ms, visibility 150ms;
  visibility: hidden;
  width: 100%;

  .prop:hover & {
    opacity: 1;
    visibility: visible;
  }
}

.content {
  align-items: center;
  border-bottom: 1px solid #fff;
  display: flex;
  justify-content: space-between;
  padding: rem-calc(38px 0);

  .props__item:last-child & {
    border-bottom-color: transparent;
  }
}

.label {
  font-size: rem-calc(20px);
  font-weight: 200;
  letter-spacing: -0.025em;
  line-height: 1.2;
  margin: 0;
  position: relative;
}

.value {
  font-size: rem-calc(16px);
  font-weight: 200;
  letter-spacing: -0.025em;
  line-height: 1.2;
  margin: 0;
  position: relative;
}

.cadetDown,
.cadetUp {
  height: rem-calc(8px);
  margin-left: rem-calc(14px);
  width: rem-calc(11px);
}

.cadetDown {
  fill: $brand-success;
}

.cadetUp {
  fill: $brand-danger;
}
</style>
