<template>
  <header :class="$style.header">
    <div>
      <h2 :class="$style.title">
        {{ title }}
      </h2>
      <h4 :class="$style.subtitle">
        Latest statistics
      </h4>
    </div>
    <slot></slot>
  </header>
</template>

<script>
export default {
  name: 'IntroStatsHeader',

  props: {
    title: {
      type: String,
      required: true,
    },
  },
};
</script>

<style lang="scss"
  module>
.header {
  align-items: center;
  border-bottom: 1px solid $brand-color;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: rem-calc(6px);
  padding-bottom: rem-calc(50px);

  :global(.btn) {
    margin-left: rem-calc(16px);
  }
}

.title {
  font-size: rem-calc(30px);
  font-weight: 200;
  letter-spacing: -0.025em;
  line-height: 1.2;
  margin: rem-calc(0 0 12px);
}

.subtitle {
  font-size: rem-calc(12px);
  font-weight: 200;
  line-height: 1.2;
  margin: 0;
  text-transform: uppercase;
}
</style>
