<template>
  <div :class="$style.item">
    <div>
      <CountUpNumber :number="value"
        :class="$style.value"
        tag="p" />
      <p :class="$style.label">
        {{ label }}
      </p>
    </div>
    <component :is="icon" />
  </div>
</template>

<script>
import CountUpNumber from '@/components/home/intro/CountUpNumber';
import CheckCircleIcon from '@/icons/CheckCircleIcon';
import DeadCircleIcon from '@/icons/DeadCircleIcon';
import ExclamationTriangleCircleIcon from '@/icons/ExclamationTriangleCircleIcon';
import FirstAidCircleIcon from '@/icons/FirstAidCircleIcon';

export default {
  name: 'IntroStatsItem',
  components: {
    CountUpNumber,
    DeadCircleIcon,
    ExclamationTriangleCircleIcon,
    FirstAidCircleIcon,
    CheckCircleIcon,
  },

  props: {
    label: {
      type: String,
      required: true,
    },

    value: {
      type: Number,
      default: null,
    },

    icon: {
      type: String,
      default: null,
    },
  },
};
</script>

<style lang="scss"
  module>
.item {
  align-items: center;
  border-bottom: 1px solid rgba(#000, 0.1);
  display: flex;
  justify-content: space-between;
  padding: rem-calc(36px 0);

  &:last-child {
    border-bottom: 0;
    padding-bottom: 0;
  }

  svg {
    height: rem-calc(55px);
    margin-left: rem-calc(16px);
    width: rem-calc(55px);
  }
}

.value {
  font-size: rem-calc(40px);
  font-weight: 200;
  letter-spacing: -0.025em;
  line-height: 1;
  margin: rem-calc(0 0 14px);
}

.label {
  font-size: rem-calc(12px);
  line-height: 1.2;
  font-weight: 200;
  margin: 0;
  text-transform: uppercase;
}
</style>
