<template>
  <SinglePageLayout title="Latest News">
    <NewsList :items="reorderedItems">
      <NewsItem slot-scope="{ item }"
        :item="item" />
    </NewsList>
  </SinglePageLayout>
</template>

<script>
import { shuffle } from '@/helpers';
import { newsItems } from './items';

import NewsItem from '@/components/news/NewsItem';
import NewsList from '@/components/news/NewsList';
import SinglePageLayout from '@/components/SinglePageLayout';

export default {
  name: 'NewsIndex',
  components: {
    SinglePageLayout,
    NewsList,
    NewsItem,
  },

  computed: {
    reorderedItems() {
      return shuffle(newsItems);
    },
  },
};
</script>

<style lang="scss"
  module>
</style>
