<template>
  <ul :class="$style.list">
    <li v-for="(item, index) in items"
      :key="index"
      :class="$style.item">
      <slot :item="item"
        :index="index"></slot>
    </li>
  </ul>
</template>

<script>
export default {
  name: 'NewsList',

  props: {
    items: {
      type: Array,
      required: true,
    },
  },
};
</script>

<style lang="scss"
  module>
.list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: grid-calc(0 -0.5) rem-calc(-50px);
  padding: 0;
}

.item {
  margin-bottom: rem-calc(50px);
  padding: grid-calc(0 0.5, 15);
  width: 50%;

  @media (max-width: $lg) {
    width: 100%;
  }
}
</style>
