<template>
  <div :class="$style.item">
    <a :class="$style.image"
      :href="item.to"
      target="_blank">
      <ImageObject :image="{ src: item.image }"
        fill />
    </a>
    <header :class="$style.header">
      <!--<p :class="$style.date">
        {{ item.date }}
      </p>-->
      <h4 :class="$style.title">
        <a :href="item.to"
          target="_blank">
          {{ item.title }}
        </a>
      </h4>
    </header>
  </div>
</template>

<script>
import ImageObject from '@/components/misc/ImageObject';

export default {
  name: 'NewsItem',
  components: { ImageObject },
  props: {
    item: {
      type: Object,
      required: true,
    },
  },
};
</script>

<style lang="scss"
  module>
.item {
  display: flex;
}

.image {
  background-color: #fff;
  display: block;
  flex: 0 0 auto;
  height: rem-calc(118px);
  margin-right: rem-calc(40px);
  position: relative;
  width: rem-calc(118px);
}

.header {}

/*.date {
  font-size: 12px;
  font-weight: 200;
  line-height: 1.2;
  margin: rem-calc(0 0 8px);
  text-transform: uppercase;
}*/

.title {
  font-size: rem-calc(24px);
  font-weight: 200;
  letter-spacing: -0.025em;
  line-height: (38 / 24);
  margin: 0;

  a {
    color: inherit;
    transition: color 150ms;

    &:hover {
      color: inherit;
    }
  }
}
</style>
