<template>
  <div id="app"
    :class="$style.app">
    <router-view />
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss"
  module>
.app {
  position: relative;
}
</style>
