<template>
  <ListTableRow>
    <ListTableCell class="col--lg text--lg">
      {{ item.country_region }}
    </ListTableCell>
    <ListTableCell class="text--primary">
      {{ item.cases | numberFormat }}
    </ListTableCell>
    <ListTableCell class="col-hidden-lg">
      {{ item.new_cases | numberFormat }}
    </ListTableCell>
    <ListTableCell class="text--danger">
      {{ item.deaths | numberFormat }}
    </ListTableCell>
    <ListTableCell class="col-hidden-lg text--danger">
      {{ item.new_deaths | numberFormat }}
    </ListTableCell>
    <ListTableCell class="text--success">
      {{ item.recovered | numberFormat }}
    </ListTableCell>
    <ListTableCell class="col-hidden-lg text--warning">
      {{ item.serious | numberFormat }}
    </ListTableCell>
  </ListTableRow>
</template>

<script>
import { CaseListItemMixin } from './CaseListItemMixin';

import ListTableRow from './list/ListTableRow';
import ListTableCell from './list/ListTableCell';

export default {
  name: 'ListItem',

  components: {
    ListTableRow,
    ListTableCell,
  },

  mixins: [CaseListItemMixin],
};
</script>

<style lang="scss"
  module>
</style>
