<template>
  <div :class="$style.page">
    <NumbersList list-key="global"
      title="Global" />
    <NumbersList list-key="usa"
      title="USA" />
    <NumbersList list-key="europe"
      title="Europe" />
    <NumbersList list-key="canada"
      title="Canada" />
    <NumbersList list-key="china"
      title="China" />
    <NumbersList list-key="latin_america"
      title="Latin America" />
    <NumbersList list-key="africa"
      title="Africa" />
    <NumbersList list-key="australia"
      title="Australia" />
  </div>
</template>

<script>
import NumbersList from '@/components/numbers/NumbersList';

export default {
  name: 'NumbersIndex',

  components: {
    NumbersList,
  },
};
</script>

<style lang="scss"
  module>
.page {
  padding-top: rem-calc($header-height);
}

.content {
  padding: rem-calc(86px 0);
}
</style>
