<template>
  <section :id="listKey">
    <ListHeader :title="title"
      :recovered-percents="recoveredPercents"
      @search="search" />
    <ListTable :items="items"
      :cells="listTableCells"
      :stats="listStats">
      <template slot-scope="{ item }">
        <CaseListItem :item="item" />
      </template>
    </ListTable>
  </section>
</template>

<script>
import ListTable from '@/components/numbers/list/ListTable';
import ListHeader from '@/components/numbers/list/ListHeader';
import CaseListItem from '@/components/numbers/CaseListItem';
import numbersData from '@/api/numbers.json';

export default {
  name: 'NumbersList',

  components: {
    ListTable,
    ListHeader,
    CaseListItem,
  },

  props: {
    title: {
      type: String,
      required: true,
    },
    listKey: {
      type: String,
      required: true,
    },
  },

  data() {
    return {
      listTableCells: [
        {
          name: 'Name',
          orderBy: 'country_region',
          sizeClass: 'col--lg',
        },
        {
          name: 'Confirmed',
          orderBy: 'cases',
          colorClass: 'text--primary',
        },
        {
          name: 'Added Today',
          orderBy: 'new_cases',
          hideClass: 'col-hidden-sm',
        },
        {
          name: 'Deaths',
          orderBy: 'deaths',
          colorClass: 'text--danger',
        },
        {
          name: 'Deaths Today',
          orderBy: 'new_deaths',
          colorClass: 'text--danger',
          sizeClass: 'col-hidden-lg',
        },
        {
          name: 'Recovered',
          orderBy: 'recovered',
          colorClass: 'text--success',
        },
        {
          name: 'Serious',
          orderBy: 'serious',
          colorClass: 'text--warning',
          sizeClass: 'col-hidden-lg',
        },
      ],
      searchName: '',
    };
  },

  computed: {
    items() {
      const { items } = numbersData[this.listKey];
      return this.searchName ? items.filter((item) => {
        const countryName = item.country_region.toLowerCase();
        return countryName.indexOf(this.searchName.toLowerCase()) !== -1;
      }) : items;
    },

    listStats() {
      return numbersData[this.listKey].stats;
    },

    recoveredPercents() {
      return Math.round((this.listStats.recovered * 100) / this.listStats.cases);
    },
  },

  methods: {
    search(name) {
      this.searchName = name;
    },
  },
};
</script>

<style lang="scss"
  module>

</style>
